[2016-11-17 21:36] gruetter opened #1 "write first test pattern"
... on whatever

[2016-11-17 21:44] gruetter opened #3 "Write 2nd test pattern"
just for fun

[2016-11-17 22:08] #1 closed, assigned to nobody

[2016-11-17 22:08] #3 closed, assigned to nobody

[2016-11-18 09:51] HaRo87 opened #5 "Define workflow for InnerSource Patterns"
Define how we want to use the InnerSource patterns repo for brainstorming, writing, reviewing and publishing InnerSource patterns

[2016-11-18 10:03] HaRo87 commented on #5
Here is a first idea:

I would suggest to use GitFlow with the following branches:
- master-public - branch containing publicly released patterns
- master-private - branch containing internal released patterns
- develop

The workflow could look like:
1. Write down the pattern idea as an issue and label it (donut, etc.)
2. create a feature branch (source would be `develop`) and add the pattern
3. o

[2016-11-18 19:31] gruetter commented on #5
Thanks for starting this, @HaRo87 ! I'm thinking that we can simplify this. I was thinking to follow this approach:
- We're not doing releases, so I propose to omit the separate `develop` and `master` branches and only use `master`.
- Every pattern idea, donut or draft should start on a dedicated branch, originating from `master`. I propose to use the branch prefix `newPattern`.
- Once a pattern i

[2016-11-18 19:42] HaRo87 commented on #5
I really like your simplified approach @gruetter! Let's try this out.

What about patterns which should not be published on innersourcecommons.org, how should we handle them?

I would use the issue tracker for tracking pattern ideas as well. That would help to keep an eye on all the ideas, which I think are more than patterns we will write. It also helps to get new interested contributors on board

[2016-11-18 19:44] HaRo87 opened #6 "Write new test pattern"
Just for testing PRs.

[2016-11-18 19:50] gruetter commented on #5
Hmm. Are you thinking ideas which didn't work out? If a pattern is merged to master, I assume they would also be published. Anonymous patterns would also be possible. If a pattern should not be published, I'd rather put it in a folder so that it is available for review for all branches which originate from `master` after that.

Good points. Let's do it like this, then.

[2016-11-18 19:53] gruetter commented on #6
go for it

[2016-11-18 20:01] HaRo87 commented on #5
I was thinking about patterns which should not be published - could be that the author does not have the rights to do that.
Instead of using folders we could also use labels.

Should we also think about defining categories for the patterns? Could help to have a good structure.

[2016-11-18 20:14] gruetter commented on #5
Labels can only be applied to PRs and issues, AFAIK. If someone clones the repo, I would like him to see the accepted patterns and those, who have been discarded, too. That's why I proposed to use folders instead of labels.

As for categories, I think _donut_, _idea_ and _pattern_ would be a good start. Still not sure if we should group patterns of one category in dedicated folders. Moving them be

[2016-11-18 20:17] #6 closed, assigned to HaRo87

[2016-11-18 20:18] HaRo87 commented on #5
The labels are only visible inside of the PR @gruetter. Do we need them after merge?

[2016-11-19 19:46] gruetter opened #9 "branch-labeling-test"

[2016-11-30 18:42] nyeates opened #10 "Write 'Common Requirements' test pattern"
bringing content from https://github.com/paypal/InnerSourceCommons/wiki/Common-Requirements

## Statement of Problem
The common code in the shared repository isn’t meeting the needs of all the projects that want to use it.

[2016-12-05 15:09] gruetter opened #12 "Move pattern from innersourcecommons.org for PR review: "Contained InnerSource Enables Collaborative Product Development""

[2016-12-05 15:33] gruetter commented on #12
PR is opened

[2016-12-05 15:34] gruetter commented on #12
PR #13 has started.

[2016-12-05 15:34] #12 closed, assigned to nobody

[2016-12-07 18:00] gruetter opened #17 "Pattern idea: Use build/package manager to promote discoverability and reusability"

[2016-12-15 06:09] #5 closed, assigned to nobody

[2016-12-15 06:24] nyeates opened #18 "Rename workflow.md to CONTRIBUTING.md"
CONTRIBUTING.md is the common place naming scheme in OSS github projects.

[2016-12-15 06:27] nyeates commented on #10
Closed due to duplication of effort... I already made the pattern

[2016-12-15 06:27] #10 closed, assigned to nyeates

[2016-12-15 06:29] nyeates opened #19 "README.md needs more content"
Something, anything. Bring from wiki?

[2017-01-11 16:25] dicortazar commented on #19
Related: https://github.com/gruetter/innerSourceTest/pull/20

[2017-02-02 05:49] nyeates commented on #19
Done

[2017-02-02 05:49] #19 closed, assigned to nobody

[2017-02-02 05:49] nyeates commented on #18
Done

[2017-02-02 05:49] #18 closed, assigned to nyeates

[2017-02-02 06:33] nyeates opened #28 "pattern/badly-named-piles"

[2017-02-02 06:40] nyeates opened #29 "pattern/dedicated-community-leader"

[2017-02-02 07:30] nyeates opened #30 "pattern/contracted-contributor"

[2017-02-02 16:28] nyeatestest opened #31 "pattern/dont-bother-looking"
From wiki https://github.com/paypal/InnerSourceCommons/wiki/Don't-bother-looking

[2017-02-02 16:51] nyeates opened #33 "pattern/junkyard-styled-innersourcing"

[2017-02-02 19:43] nyeates opened #35 "pattern/limited-management-support"
There is engineering-level support of innersource, but not management-level. Ex: Management wont support sharing of source code across departments/contractors and still expects waterfall-type reporting of man-hr requirements (vs something more Agile).

[2017-02-02 20:11] nyeates opened #36 "pattern/separate-contractors-wont-collaborate"
Contractors from separate companies or organizations will not fully collaborate on a shared code-base, often viewing each other as competitive in nature despite an overarching org telling them otherwise. This is common in the US Federal Government, where the government is required to contract out the majority of its software production needs, and very often uses multiple contractors on a single pr

[2017-02-04 10:18] nyeates opened #37 "pattern/hiring-leverages-culture"
Human Resources department or hiring managers can use inner source and open source as a selling point to prospective candidates. These can be key to building and sustaining your target culture.

Mentioning it as "Inner Source (Internal Open Source)" may clarify to candidates who aren't familiar with the term. Also, mentioning full-out open source projects (if they exist in your org) may be 'sexy'

[2017-02-08 15:57] dicortazar opened #39 "pattern/change-the-developers-mindset"
This task aims at bringing to this repo the donut available at https://github.com/paypal/InnerSourceCommons/wiki/Pattern:-change-the-developers-mindset

I'll assign this to myself in a first stage and upload the pull request.

[2017-02-08 16:05] dicortazar commented on #39
Adding @NewMexicoKid as contributor of this donut.

https://github.com/paypal/InnerSourcePatterns/blob/pattern/change-developers-mindset/change-developers-mindset.md

[2017-02-08 16:07] dicortazar commented on #39
@NewMexicoKid I'd like to work a bit more in the donut and then pull request our updates.

In addition, I remember I had to add another participant, but do not exactly remember who. Perhaps @kevinger ?

[2017-02-16 14:56] gruetter commented on #37
From my own experience of talking to friends who work in tech outside of my company, InnerSource and especially our flavour of _permissionless innovation_ was highly attractive. It also changed the perception of my company (not exactly a startup anymore). I think there's definitively a pattern in here.

I'm not so sure about the working title, though. How about _Cultural-change-through-hiring_ or

[2017-02-21 07:59] nyeates opened #44 "Pattern-States.md created and updated"
bring from wiki and then make it more detailed, explaining terms and states

[2017-02-21 08:25] #28 closed, assigned to nobody

[2017-02-21 08:26] nyeates commented on #29
Needs to be turned back into a PR

[2017-02-21 08:27] nyeates commented on #30
needs to be turned back into a PR

[2017-02-21 08:28] nyeates commented on #31
Its in master now and Needs to be turned into a PR

[2017-02-21 08:28] nyeates commented on #33
its in master and needs to be turned into a PR

[2017-02-21 08:34] nyeates commented on #37
Good to hear reinforcement. Ill move forward with it at some point and think of alternate titles - neither ring to me now (a few weeks later).

[2017-02-22 21:53] gruetter commented on #9
I'll close this test issue as we don't need it anymore.

[2017-02-22 21:53] #9 closed, assigned to nobody

[2017-03-08 21:33] nyeates commented on #44
Created this file, pulled over from the wiki on this commit: https://github.com/paypal/InnerSourcePatterns/commit/2ee8cce5ea1646998f489b39e70304d14abefda3

However, it needs updating. Need to talk about all of the states, and in more depth.

[2017-03-10 20:17] nyeates commented on #30
Turned into a PR:
https://github.com/paypal/InnerSourcePatterns/pull/57

[2017-03-10 20:17] #30 closed, assigned to nobody

[2017-03-11 15:48] nyeates commented on #29
Created PR 58

[2017-03-11 15:48] #29 closed, assigned to nobody

[2017-03-11 21:21] nyeates commented on #31
Created PR

[2017-03-11 21:21] #31 closed, assigned to nobody

[2017-03-11 21:30] nyeates commented on #33
Created PR

[2017-03-11 21:30] #33 closed, assigned to nobody

[2017-03-12 06:54] nyeates commented on #39
@dicortazar or @NewMexicoKid Please make a PR for the existing [branch that has 1 commit](https://github.com/paypal/InnerSourcePatterns/tree/pattern/change-developers-mindset), then close this Issue.

You will be able to add new commits and comments to that same branch/PR.

[2017-03-13 05:47] nyeates opened #62 "Fix links in markdown-info.md"

[2017-03-13 11:19] dicortazar commented on #39
Ok, I'll produce a PR, thanks @nyeates

[2017-03-13 11:24] dicortazar commented on #39
Closing this issue as suggested by  @nyeates . I've added @NewMexicoKid as reviewer in that PR.

Anyone interested, please feel free to add yourself to the PR.

[2017-03-13 11:24] #39 closed, assigned to dicortazar, NewMexicoKid

[2017-09-28 21:32] nyeates opened #77 "Donut: Lip Service InnerSource"
Pattern Donut Idea: “The ‘F’-you InnerSource project” - Where a team says they are innersource because you can ‘simply send us a pull request!’ but they don’t provide avenues for actual ramp-up, friendly community interactions, places to ask questions (and get them answered), documentation to learn, etc. As told to: Nick Yeates

[2017-10-03 18:46] NewMexicoKid commented on #77
Do we want to give this a perhaps more politically correct pattern name? E.g., *Simply send us a pull request!*

[2017-10-03 20:26] nyeates commented on #77
Yes we can change it. Brainstorming ideas: Ironic pull request. Empty
community. Newbie unfriendly. Any others before we make it a PR?

On Tue, Oct 3, 2017 at 2:58 PM Tim Yao <notifications@github.com> wrote:

[2017-10-03 23:39] beckyjplummer commented on #77
What about "we're overloaded, send us a pull request"

[2017-10-04 01:34] breakbottle commented on #77
I like that it really defines the truth of the accepted team that is
defined by “we’re overloaded”. However I also feel a sense of empathy to
the code submitters, where as the previous name implies a sense of “I don’t
care, throw it over the wall”.

Did I read too much into that?
Clint

On Tue, Oct 3, 2017 at 6:39 PM Becky <notifications@github.com> wrote:

[2017-10-04 12:33] nyeates commented on #77
These are both better names than I gave - thanks! I agree that "I don't care, throw it over the wall" carries more of the tone I detected. Becky?

[2017-10-04 17:55] NewMexicoKid commented on #77
How about "Lip service InnerSource"?

[2017-10-04 18:42] kjstol commented on #77
Oooh I like that. +1

Terse? Mobile.

On Oct 4, 2017 13:54, Tim Yao <notifications@github.com> wrote:

How about "Lip service InnerSource"?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/paypal/InnerSourcePatterns/issues/77#issuecomment-334238150>, or mute the thread<https://github.com/notifications/unsubscrib

[2017-10-04 22:44] beckyjplummer commented on #77
Yes!!

On Wed, 4 Oct 2017 at 14:42, Klaas-Jan Stol <notifications@github.com>
wrote:

--
Trust in Allah, but tie up your camel. - Sign in Skardu

[2017-10-04 23:00] breakbottle commented on #77
Yes, I like as well

On Wed, Oct 4, 2017 at 1:42 PM Klaas-Jan Stol <notifications@github.com>
wrote:

[2017-10-07 01:46] gregswindle commented on #77
Hey, InnerSourcerers!

If the intent behind this Donut reflects @NewMexicoKid's "Lip Service InnerSource," then that's pretty good. Alternatives might be:

1. **Insincere InnerSource** or
2. **Sham InnerSource**
3. **Disingenuous** InnerSource Project

"F*** you InnerSource" feels more pernicious, though. Maybe

1. **Unprepared** InnerSource
2. **Ill-equipped InnerSource Project/Team**
3. **Slapda

[2017-11-07 12:45] gruetter commented on #77
+1 for _Lip service InnerSource_

[2018-02-19 09:06] MaineC opened #89 "pattern/service-vs-library"
I would like to propose an idea for an inner source pattern - not sure if others have seen similar issues in their organisation.

Imagine the following situation: We are looking at an organisation that values devops as an approach to software development and deployment. Teams are responsible end to end: Starting with requirements engineering, software development down to deployment and maintenance

[2018-02-19 14:12] rrrutledge commented on #89
Sounds interesting

[2018-02-20 00:13] NewMexicoKid commented on #89
Isabel, I would encourage you to write this up in a pattern format.

[2018-02-21 22:28] NewMexicoKid opened #91 "Pattern idea: Integrate InnerSource with DevOps by exposing roadmaps/backlogs along with the code"
* Inter-team collaboration can work by exposing code, documentation, roadmaps,
backlogs, and sprint plans. The data is made openly available to drive the
discussions between the teams.
* Keep your agile-project management tools open and findable.
* Contributing developers would need to fit in with the owning team's sprints
when a dev is submitting one-off merge requests, etc.
* When teams work tog

[2018-02-28 02:01] #89 closed, assigned to nobody

[2018-05-16 07:53] ChristianKurz opened #97 "File for "Poor Naming Conventions" is missing"
The link to [Poor Naming Conventions](https://github.com/paypal/InnerSourcePatterns/blob/master/poor-naming-conventions.md) 404s and i can't find the file to correct the link.

[2018-05-21 12:51] StingRayZA commented on #97
@NewMexicoKid Thanks for merging - would you mind resolving this issue?

[2018-05-21 14:44] NewMexicoKid commented on #97
Fixed by @StingRayZA

[2018-05-21 14:44] #97 closed, assigned to nobody

[2019-08-20 07:44] ericshanda opened #113 "How to start an InnerSource project when groups members are distributed"
I work on a fintech company, recently, we are going to start a InnerSource project , but my group members are distributed on different cities. Is there any feasible steps ?

[2019-08-20 09:56] MaineC commented on #113
What are the challenges that you would like to solve?

Being distributed from the start in my experience actually makes it easier to arrive at a working Inner Source project, as the focus on written communication and asynchronous communication turns out to be a no brainer. With co-located teams moving vital communication to a written medium often takes a bit of explaining and reminding.

Some ques

[2019-08-20 10:01] MaineC opened #114 "Pattern idea: Communication tooling setup"
I'm not sure if this is one pattern or multiple:

I think it would be beneficial for people that are just about to start with InnerSource and have no experience with Open Source to give some guidance on which communication to have where - similar to what @bdelacretaz is describing there:

https://www.youtube.com/watch?v=HPjYa_O6yEk

I'm not sure if this should be a separate pattern or something th

[2019-08-20 19:53] rrrutledge commented on #114
Great addition, @MaineC

[2019-08-21 03:25] ericshanda commented on #113
@MaineC Thanks!

- My team members are distributed on different cities, but all in China.

- We plan to run this project as an InnerSource way and I am the project manager.

- We use gitlab behind our firewall  and use wechat or inner im tools to communicate.

- Those guys are not very familiar with asynchronous communication.

[2019-08-21 09:14] MaineC commented on #113
I think non-familiarity with asynchronous could turn out to be a challenge:

* Ranging from discussions happening outside of project channels.
* Not knowing what to discuss where.
* Feeling intimidated by the paper trail generated, that includes all mistakes made.
* A lack of bandwidth in written communication.

All of those can be solved, but in my experience that looks like the most obvious issu

[2019-08-21 10:12] ericshanda commented on #113
I have learn about Bertrand Delacretaz: Asynchronous Decision Making – why and how? https://www.youtube.com/watch?v=HPjYa_O6yEk

We plan our asynchronous decision making with gitlab.

[2019-08-21 10:41] ericshanda opened #115 "What kind of metrics works well in "Introducing Metrics in InnerSource"？"
As we know , metrics just like a product must be sell to different kinds of users including C-level, middle managers and the team members. All of them are concerned about different aspect. So what kind of metrics would work?

[2019-08-21 11:53] NewMexicoKid commented on #115
You don't necessarily need the same metrics for the different audiences. C-level leaders will want to know about the health and growth of the inner source program, so the metrics will tend to be ones that represent this in an aggregate sense. Middle managers will want to know how their people are doing in the program along the different dimensions (e.g., quality, activity) or how much the componen

[2019-08-21 21:21] rrrutledge commented on #113
If you're all in China things don't necessarily have to be asynchronous - they could be just digital and synchronous.  You'd need to commit at least to running the project digitally, though, I think.

[2019-08-21 21:22] rrrutledge commented on #113
Think of running standups, backlog grooming, design review, etc. via chat and conference call rather than in-person meetings.

[2019-08-21 21:23] rrrutledge commented on #115
I would only track and measure in aggregate never back to any one person or team to prevent people changing their behavior to look good for the metric.

[2019-08-22 09:45] MaineC commented on #115
One thing I found helpful was to follow the goal-question-metric approach to come up with metrics that match the goals of the organisation at hand.

Before rolling out a specific metric for a change think about the goal you want to achieve with the change.

For example:

If you want to use inner source in order to increase cross team collaboration on code projects, that's precisely what you should

[2019-08-22 09:47] MaineC commented on #113
... with the one caveat of bringing decision points identified in ephemeral communication channels back to a medium that gets archived, is searchable and linkable such that your decisions, your reasoning behind those decisions become a reference for the future.

[2019-08-22 17:40] lenucksi commented on #113
I agree with the written hints. Also, that sync+digital would work. However, I can not stress the importance of a written culture with searchable, linkable and archived records enough as @MaineC already did.
Making Post-Hoc or on the fly records is great too - but often this does not capture everything. Just doing everything in written, archived and indexed **and** public (having most of the thing

[2019-08-26 06:03] ericshanda commented on #113
I start the project with gitlab and Wechat .

[2019-08-26 06:03] #113 closed, assigned to nobody

[2019-08-26 06:15] ericshanda commented on #114
Is there need a pattern that tells new innersource team how to choose communication tools.

[2019-08-26 07:44] #115 closed, assigned to nobody

[2019-08-27 09:48] lenucksi commented on #114
I don't know if there's a pattern in this repo but research and the mentioned OSS world has the following:
- Everything should be archived, indexed and equipped with stable links
- There are mostly two classes of tools: (rather) synchronous and rather asynchronous communication oriented tools. It can help to provide an instance of both classes.
  - First class: Phones (not archived, indexed, ...),

[2019-09-17 20:39] dicortazar opened #116 "Starting discussion about a Maturity Model"
Hey, I'd like to share with all of you our previous work in Maturity Models.

Work done by Jorge from Entelgy, Nerea from Zylk, and Daniel from Bitergia.

|  Key process AREAS / Maturity LEVELS | ACCIDENTAL (L0) | EXPLORATION (L1) | ADOPTION (L2) | EFFICIENT (L3) | SURVEY MAPPING |
| --- | :---: | :---: | :---: | :---: | --- |
|  TRANSPARENCY |  |  |  |  |  |
|  Plans & Products | Individuals and

[2019-09-18 10:11] lenucksi commented on #116
How about making a PR from the table such that it can be review-commented and have additional discussions around it?

[2019-09-27 16:02] tsadler1988 opened #117 "Pattern idea: Common metadata format to aid discovery of Inner Source projects"
Following on from a conversation in the ISC Slack, would a metadata file added to Inner Source repos in source control (e.g. `inner-source.json` or `inner-source.yaml`) aid discovery of Inner Source repos within an organisation? If so, should we define a common format for this metadata?

Alternatively, should this information be derivable from your SCM tool (GitHub/GitLab/Bitbucket etc.)? This wou

[2019-09-27 16:23] mrsanz commented on #117
I'd like to see `innersource.yaml` or `innersource.json` be the standard.  `readme.md` follows the same convention of creating a new word ;)

[2019-09-30 08:18] grey-nicholson-bbc commented on #117
More prior art: [Description of a Project (DOAP)](https://en.wikipedia.org/wiki/DOAP); [an example in the wild](https://gitlab.gnome.org/World/Shortwave/blob/master/shortwave.doap)

[2019-10-01 18:29] Ludmila-N commented on #117
I am inclined to follow existing standards where available; specifically, there's already a standard for the metadata file name in my org with some of the similar entries (i.e., technologies).
Will think which specific entries make sense for InnerSource projects.
As far as aiding discovery of the InnerSource projects, I'm inclined to use the presence of CONTRIBUTING.MD file in the code repository

[2019-10-03 17:05] arnom-ms commented on #117
I am not sure I am a fan of another data container. Would it not make sense  to have the metadata  describing the project/repo in the top part of the readme?  Secondly, I am also not convinced tracking the maintainers in a file is a good idea as people in general are not particularly good in updating things like that. I would rather suggest to use the APIs of infrastructure (GitHub, GitLab.. etc)

[2019-10-04 14:22] dicortazar commented on #116
Definitively! I'll work on this :). Thanks for the feedback.

[2019-10-22 08:51] StingRayZA commented on #116
Thanks for this @dicortazar - looking forward to the PR!

[2019-10-27 07:15] dineshdh opened #118 "pattern/innersource-portal-hygiene"
## Title

InnerSource Portal - Hygiene

## Patlet

Based off the [InnerSource portal](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/innersource-portal.md) pattern.

Allow generation of an official badge for projects intending to be recognised as InnerSource project within your company.

This will help users distiguishing InnerSource projects which strive to adhere to InnerS

[2019-10-27 20:05] dineshdh commented on #117
Not a huge fan of adding too many meta data files to a repo. Ideally all public repos in a company are Inner source projects, but this is not always the case. Inflight of that I think explicitly registering your project may be an idea. See https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/118

[2019-10-28 21:05] rrrutledge commented on #118
This is cool, @dineshdh.  I think it would be a good idea to open a pull request to the `InnerSourcePatterns` repository so that we can all discuss there.  Looking forward to it!

[2019-11-02 12:29] dineshdh opened #119 "Unable too create branch"
Despite the contribution guidelines stating "First you need to create a branch (no need to ask for permission!)." I am not able to create a branch. Please help

[2019-11-02 12:41] dineshdh commented on #119
Nevermind can via github portal

[2019-11-02 12:41] #119 closed, assigned to nobody

[2019-11-02 12:46] dineshdh commented on #118
PR created as suggested by @rrrutledge
https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/120

[2019-11-02 12:46] #118 closed, assigned to nobody

[2019-11-05 00:42] rrrutledge commented on #119
Hooray!

[2020-03-14 17:18] spier opened #128 "Pattern Maturity in patterns does not match defined pattern-states nomenclature"
I am making this assumption:

The `#Status` defined in [pattern-template.md](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/pattern-template.md) is meant to be one of the defined [pattern-states](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/pattern-states.md).

Assuming that the above is true:

When reading some of the existing patterns I f

[2020-03-16 21:40] rrrutledge commented on #128
Agree.  Great point.

[2020-03-16 21:41] #62 closed, assigned to nobody

[2020-03-16 21:56] spier commented on #128
@rrrutledge if you think that would be ok, then I can send a PR that takes the **Status** that I see for each pattern in the list in https://github.com/InnerSourceCommons/InnerSourcePatterns#list-of-patterns and update all Pattern files to contain their respective status.

However if I do that I will be touching a lot of pattern files. Therefore we would have to get that PR merged fairly quickly b

[2020-03-16 22:04] spier opened #130 "Remove merged branches"
I found that many of the branches are fully merged into `master` already, and therefore should be safe to delete:

[code]

Time for some cleanup? :)

[2020-03-17 00:09] rrrutledge commented on #128
I think that we could get that turned around before appreciable change in the patterns file that it targets.

[2020-03-17 00:10] rrrutledge commented on #130
Nice Sleuthing!  Is this everything with the `Merged` badge on it, basically?

[2020-03-17 18:06] spier commented on #130
@rrrutledge I am not sure. Where do you see the `Merged` badge?

I just see that I forgot to post the command I used to get this:

[code]

If you run that command from `master` give gives you all branches fully merged into master.

[2020-03-17 18:08] spier commented on #128
Cool. Then I will start working on that. Feel free to assign the issue to me if you like.

[2020-03-17 20:50] rrrutledge commented on #130
[In the _GitHub_ UI](https://github.com/InnerSourceCommons/InnerSourcePatterns/branches)

[2020-03-17 20:50] rrrutledge commented on #128
Done

[2020-03-18 07:46] spier commented on #130
Yes, that seems to be the same. I see 13 branches marked as **Merged** in the GitHub UI as well, same as in the git command above. So those should be safe to delete.

[2020-03-18 13:53] rrrutledge commented on #130
Done.  Take a look if I got them all?

[2020-03-18 14:30] spier commented on #130
You did:

[code]

Awesome,  so much cleaner now!

Closing this issue.

[2020-03-18 14:30] #130 closed, assigned to nobody

[2020-03-18 15:38] rrrutledge commented on #130
Thank you!

[2020-03-18 18:37] spier opened #132 "Move patterns from the wiki to markdown files in the repo"
Currently we have patterns in various places:

* **markdown** (.md) files in the repo (true for most of the Proven/Reviewed patterns)
* **gDocs**
* **wiki** of this repo

There are some challenges with this:

a) it is harder to find the patterns (as one has to look in multiple places)
b) providing feedback for the patterns in the wiki is not possible (as the wiki does not get forked together with

[2020-03-18 20:10] spier commented on #132
Links to the wiki:

[code]

[2020-03-18 23:25] #128 closed, assigned to spier

[2020-03-18 23:27] rrrutledge commented on #132
Let's do it.  Sounds great!

[2020-03-25 21:30] spier commented on #44
@nyeates the file you are linking to above looks like an early version of what we now have in `meta/pattern-states.md`.

Can this issue here be closed?

[2020-03-25 21:34] spier opened #135 "Some markdown files are not linked from README.md"
When comparing the number of markdown files in this repo, to what is linked from `README.md`, I found that the numbers are different:

[code]

So we have 19 markdown files, but only 15 files linked in README.md.

I will send a PR to investigate where the difference comes from.

[2020-03-25 21:55] spier commented on #17
Playing devils advocate here :)
Given that this issue did not see any traction in 3 years, maybe we close it and wait for it to be reinvented if it is important?

[2020-03-25 21:55] spier commented on #35
Playing devils advocate here :)
Given that this issue did not see any traction in 3 years, maybe we close it and wait for it to be reinvented if it is important?

[2020-03-25 21:56] spier commented on #36
Playing devils advocate here :)
Given that this issue did not see any traction in 3 years, maybe we close it and wait for it to be reinvented if it is important?

[2020-03-25 21:56] spier commented on #37
Playing devils advocate here :)
Given that this issue did not see any traction in 3 years, maybe we close it and wait for it to be reinvented if it is important?

[2020-03-25 22:44] rrrutledge commented on #135
Sounds great.

[2020-03-25 22:46] rrrutledge commented on #17
That works.

[2020-03-26 11:39] maxcapraro opened #137 "Automatically Labeling and Closing Stale Issues"
@spier noted very correctly that there are stale issues and PRs (e.g. here https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/17#issuecomment-604108188).

This increases the burden for people who want to learn "what's going on" and makes it more difficult to new contributors. Also, it might give the impression that we don't care about our "project hygiene" :-)

I suggest we enable Gi

[2020-03-26 12:23] spier commented on #135
Done. Closing this issue.

[2020-03-26 12:23] #135 closed, assigned to nobody

[2020-03-26 12:42] maxcapraro commented on #137
(Some interesting discussion also going on here: https://innersourcecommons.slack.com/archives/C2EFRTS6A/p1585222759001800?thread_ts=1585222105.001600&cid=C2EFRTS6A)

[2020-03-27 07:47] spier opened #138 "Turn "InnerSource License" from DB Systel into a pattern"
DB Systel created their own InnerSource License, see [DB Inner Source License](https://github.com/dbsystel/open-source-policies/blob/master/DB-Inner-Source-License.md) (in German).

They used the EUPL, as that offered an open-source-like starting point, and then worked out the constraints and additional rules required in their specific company context.

I would like to turn this into a pattern, mo

[2020-03-27 07:49] spier commented on #138
I have started to work with DB Systel on this. So far the collaboration is happening in a Google Doc as that offers faster suggestion/review features that markdown.

I hope to be able to convert this gDoc to markdown within the next weeks, and push it to this repo.

[2020-03-27 14:57] maxcapraro commented on #138
Would you like to share the Doc in this issue as well? I'd love to take a sneak peak / maybe comment some thoughts.

[2020-03-27 21:17] maxcapraro opened #142 "Establish Automated Checks for Repo Contents"
While this is not a source code repository, there are still some classes of bugs that we can avoid. We could establish some automated checks. From the top of my head:
- MD linting
- Dead link checker
- Spell checker (via Russ)
- ... (potentially others)

[2020-03-27 21:22] spier commented on #138
Even though I am all for sharing, in this particular instance I don't want to share the doc.

Here my reasoning:
The doc is roughly the "interview transcript" between Cornelius and myself, and I want to turn that into markdown as quickly as possible, so that everybody here can see it. The longer we keep it in gDoc the higher the chances that it will get lost. And adding more comments now would inc

[2020-03-28 08:01] spier opened #143 "Create a single source of truth for all ISC Patterns in the InnerSourcePatterns repo"
**EDITED:**
This is a duplicate of #132.
Closing this story.

## Suggested Action

Port remaining patterns from innersourcecommons.org/wiki to InnerSourcePatterns

## Goal (The Why)

Create a single source of truth for all ISC Patterns in the InnerSourcePatterns repo

## Story

**Removed and ported to:**
https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/132

[2020-03-28 11:10] spier commented on #142
Nice ideas. How does the output of "MD linter" look like? I have never seen one in action?

In addition a check for the require headilnes in pattern files would be nice. Basically a help for new authors to get the pattern format right. This is only really practicable once we have moved the patterns to a separate folder thought.

I think as a first step the 'dead link checker' would be most useful.

[2020-03-28 16:35] spier commented on #142
I tried [link-checker](https://github.com/marketplace/actions/link-checker).
It works ok. See sample output below.

If we were to start with this I think we should limit it to README.md initially, as otherwise we have way too many broken links already :)

[code]

[2020-03-29 08:26] spier commented on #142
I tried a markdown linter on the `README.md` file, just too see how that would look like.

If we don't check for line length (which the linter complaints about all over the place), we would still have these errors:

[code]

Would be interesting how we could arrive at a linter configuration that would be helpful, while not being a complete pain, especially for new contributors.

@maxcapraro have yo

[2020-03-30 08:32] maxcapraro commented on #138
This really makes sense :) Don't feel rushed!

[2020-03-30 08:36] maxcapraro commented on #142
Wow! Thanks for already looking into it :)

Not really - I created the issue basically so that I don't forget to look into it :) Which - I think - I wouldn't be able to do in the next two weeks or so.

[2020-03-30 08:36] maxcapraro commented on #142
Wow! We have quite many of these, indeed. So, maybe we start with the link checker instead of the linter?

[2020-03-30 14:29] MaineC opened #144 "Pattern idea: How to recruit new TrustedCommitters"
Likely a lot can be taken from

https://tech.europace.de/voting-in-new-trusted-committers/

as well as from

http://community.apache.org/newcommitter.html

This information needs to be translated into pattern format though.

[2020-03-31 14:22] rrrutledge commented on #142
Spell check?

[2020-03-31 14:32] rrrutledge commented on #144
Sounds great!  Looking forward to it!

[2020-04-01 18:14] lenucksi commented on #142
That looks great, thanks for trying out some marketplace actions already, because GitHub Actions would've exactly been my next suggestion. If you, or someone else, would want to to provide a pull request with a GitHub Actions starter for the repo I'd gladly review it and merge it :D :tada:

[2020-04-10 12:23] spier commented on #143
This issue is kind of duplicate of #132 now. I don't recall why I opened two issues and it is confusing me now :)

I will close this issue here and port any relevant information over to #132.

[2020-04-10 12:28] spier commented on #132
In https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/134 we ported a first set of wiki pages from innersourcecommons.org/wiki to InnerSourcePatterns (this repo).

In https://github.com/InnerSourceCommons/innersourcecommons.org/issues/134 those ported wiki pages should get deleted. (By chance it is issue number 134 in both repos. Don't get confused here :))

Once that is done, I sugges

[2020-04-10 12:29] #143 closed, assigned to nobody

[2020-04-10 12:36] spier commented on #142
Anybody feels strongly about the MD linting and wants to drive it?

My take is that any MD linter configuration will find way too many issues in the MD files that we have today. Instead we could write a custom "pattern .md file linter" that checks if the pattern files contain the right headlines (from the pattern template) or similar. That might be more useful for our purposes?

My take is to leav

[2020-04-13 16:44] lenucksi commented on #142
The do indeed find quite a bit of stuff that might to be extensive for human oriented content. One can provide config to turn down the most noisy checks though.

Sounds like a good idea - And like something that could more or less work as shell script combining a bunch of grep & regexes. We'd need the rules to check for then. And provide some human readable content what is checked for (not everyon

[2020-04-13 16:47] lenucksi opened #149 "Establish `.github/codeowners` file with the existing TC's handles."
We've listed a few Trusted Committers in our `TRUSTED-COMMITERS.md` file. We've discussed the benefit of using the GitHub automation around this.
Hence, this issue is about enabling this.
- `.github/codeowners` file with the listed persons handles in it.
- That would this would give [a bit of automation](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owner

[2020-04-13 17:25] maxcapraro commented on #142
First of all: Wow! Discussion and first PR are great :)

I think (contrary to @lenucksi) that more sophisticated checks can be very very helpful. Like it does for code, automated checks allow us to focus on great semantic contents instead of syntactic issues. Though, I don't think I can commit to driving that forward within - say - the next month.

Our goal was to keep the repo (and issue tracker)

[2020-04-14 15:02] maxcapraro commented on #116
During the (this time not chatham house rule covered) summit, Dmitrii pointed us to the maturity model they are using: https://adeo.github.io/innersource/

The model in this MR appears to be focused on the maturity of a whole organization, dealing with IS. Dmitrii's model appears to be focused on the maturity of distinct InnerSource projects. So ... probably this warrants two separate patterns.

[2020-04-15 09:35] spier commented on #142
Ok. I vote for closing this then @maxcapraro in the spirit of clarity and focus in our repo :)

[2020-04-15 13:17] spier commented on #149
One thing that recently learned:

If all users that you want to enter into the `CODEOWNERS` file are part of the org that owns this repo, then you can also put them all in a team and then put that team name into CODEOWNERS.

That way you can route PR reviews automatically to individual members of that team, rather than to alert everybody. See:
https://help.github.com/en/github/setting-up-and-manag

[2020-04-21 08:25] #44 closed, assigned to nyeates

[2020-04-21 19:03] fwan2000 opened #150 "categories to help IS pattern discovery"
It's great to see so many IS patterns from the community. A good problem we have is how to make these patterns easy for discovery/consumption. Here's some thought for discussion.

One pair is management and empowerment. Some patterns help to manage, govern, mitigate risk. Some other patterns help to empower, attract, build communities. This categorization can help others to quickly find the group

[2020-04-21 20:00] NewMexicoKid commented on #150
This is where a pattern language can be helpful. See, for instance,[ my 2018 presentation on this](https://drive.google.com/open?id=13AY8glCOdpLOVuz7cVD6QOB8d2xbHCS1). There are many different directions that can be taken and, as long as they are useful and can be maintained, I believe that we should explore them.

[2020-04-22 15:12] fwan2000 commented on #150
@NewMexicoKid Great presentation! I like the idea of using pattern language. I'd like to explore them further.

One thought is we can experiment mind map to get a feeling on how these patterns can tie together and we could have multiple maps for different major topic.

Here's an attempt to build a subset mind map from your slide 15.
![image](https://user-images.githubusercontent.com/62643305/79999

[2020-04-23 12:43] lenucksi commented on #142
Closing this for the time being then. Let's come back to this issues once the time is ready.

[2020-04-23 12:43] #142 closed, assigned to nobody

[2020-04-24 00:53] fwan2000 commented on #150
Here's another draft with more patterns included. Can you provide feedback? Would love to have a discussion to explore this further.

![image](https://user-images.githubusercontent.com/62643305/80163524-70186880-85a4-11ea-9359-d8ba7efd6c45.png)

[2020-04-24 00:55] fwan2000 commented on #150
There could be many other ways to group the patterns. Above draft is an attempt to group them by phase of program and challenges in each phase.

[2020-04-24 05:43] spier commented on #150
This is an interesting idea. I am thinking about it like a different *table of contents* when you are reading a book. With the pattern information that we have today, we can only list them alphabetically. With your idea we can group them along other categories, as shown by you.

So that I understand what you want to achieve, let's fast forward for a second:
Assuming this was completely finished, a

[2020-04-24 12:27] maxcapraro commented on #150
Thanks for this contribution @fwan2000 :)

One thing we should keep in mind is the thoughts that others brought to paper here: https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/pattern-system.md

[2020-04-24 16:22] spier commented on #149
Perfect. Done!
(Just assuming that this will work, as I have tested this).

[2020-04-24 16:22] lenucksi commented on #149
Done by means of #151.

[2020-04-24 16:22] #149 closed, assigned to spier

[2020-04-24 18:08] fwan2000 commented on #150
I recommend to use this kind of visualization in overview section of patterns. Can be published as part of the ebook, and added to https://innersourcecommons.org/ patterns page. It can provide a high level overview of what patterns we have before they decide which patterns they want to dive deeper.

[2020-04-24 18:19] fwan2000 opened #152 "ultra-short, illustrative story for patterns"
Story provides a more narrative, less academic description to a pattern. When a pattern has a good narrative description at the first few sections, it helps people deciding quickly whether this is something they want to dive deeper. Some patterns provide good narrative while some other patterns lack those narrative angle. It would help to add story or improve narrative description to the patterns

[2020-04-24 18:27] NewMexicoKid commented on #150
Ideally, I think, the different visualization schemes can be used as an
interactive filter to help people find applicable patterns and to
understand how they work together as a pattern language.

On Fri, Apr 24, 2020 at 1:08 PM fwan2000 <notifications@github.com> wrote:

--
Tim Yao - the.NewMexicoKid@gmail.com <NewMexicoKid@naperwrimo.org>
<mliaisons@naperwrimo.org>
aka NewMexicoKid at National No

[2020-04-25 15:23] lenucksi commented on #132
Deleted the pages mentioned in https://github.com/InnerSourceCommons/innersourcecommons.org/issues/134

[2020-04-25 19:15] spier commented on #132
@lenucksi I checked, and could not find any other Patterns there that can be ported.

However I found more things that can be cleaned up in the wiki [innersourcecommons.org/wiki](https://github.com/InnerSourceCommons/innersourcecommons.org/wiki).

Posted it here to save myself some time.

## Patterns already ported to repo

- [x] [wiki/Junkyard-Styled-Inner-Sourcing](https://github.com/InnerSource

[2020-04-25 19:15] spier commented on #132
if you can do those deletions, then we can close this issue here. Nothing else to port from that wiki.

[2020-04-25 19:19] spier commented on #137
@maxcapraro where did you land on this one? Do you still want to do some automation to clearly indicate "staleness"?  Or do you want to do this manually for now?

Trying to prevent this issue here from becoming stale itself :)

[2020-04-25 20:20] NewMexicoKid commented on #152
We've used case studies in the past for illustrative purposes, thinking that actual cases would accurately show the context for the pattern. Are you thinking of an artificial story just for illustrative purposes?

[2020-04-26 09:08] spier commented on #114
@MaineC 💥first PR in the series merged. Great stuff!

I understand that #123 and #124 will add more tools to the `project-setup/` folder.

Some questions:
* [project-setup/base-documentation.md](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/project-setup/base-documentation.md) describes a **proven** pattern at your company, right? Shall. we set the status as **Proven**?
* S

[2020-04-26 12:58] spier commented on #91
@NewMexicoKid @ErinMB sorry if you are tired of my GitHub spam already :)

I don't think there is a PR associated with this pattern idea already, or did I miss it?

I was wondering if either of you wants to work on this pattern, or if we can archive this issue?

[2020-04-26 13:15] spier opened #154 "New folder structure for Patterns"
I propose a folder structure that reflects the [maturity](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/pattern-states.md#pattern-maturity) that a given pattern as reached.

Specific proposal:
[code]

What happens to the existing patterns:
* We would move all existing patterns into the respective subfolder.
* We would also keep the "Status" field in the pattern file it

[2020-04-26 17:38] NewMexicoKid commented on #154
There are indeed (at least) two separate dimensions for assessing a pattern:

- its maturity level (level of review) - this has, for instance, how well a pattern has been documented
- whether it has been proven in real life; i.e., some patterns start as donuts, people contribute solutions to try but until they have been tried, that "pattern" is just a proposed solution in a pattern form (in genera

[2020-04-26 19:01] maxcapraro commented on #154
I feel we overly simplify if we treat the validation status as binary (proven, unproven).

My suggestion (see https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/155) would be: Use maturity levels as the primary dimension to process and edit the patterns and funnel them towards the e-book.

[2020-04-26 19:10] maxcapraro commented on #154
On topic: I think moving the patterns /contributions lifecycle to the folder structure is a good thing :)

[2020-04-26 20:58] fwan2000 commented on #152
Yes I'm thinking of short story for illustrative purposes. Some patterns have them already. I find them helpful to understand the pattern at high level before diving into the details.

[2020-04-26 21:06] fwan2000 commented on #150
Agree. We could have multiple visualization schemes based on https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/pattern-system.md to help organizing/filtering the patterns.

It also helps the contributors to collaborate with common pattern languages and identify areas that need more focus. For example, we can have a scheme listing all patterns in different state, and use P/R/D (

[2020-04-27 01:11] fwan2000 commented on #150
Here's an attempt to turn the mindmap as a markdown file for easy collaboration.
https://github.com/fwan2000/InnerSourcePatterns/blob/mindmap/IS.md

Here's the svg file created from the md file using Atom plugin.
![image](https://user-images.githubusercontent.com/62643305/80325243-53796c00-8802-11ea-9ff7-db5350b3cd7d.png)

What do you guys think?

[2020-04-27 01:13] fwan2000 commented on #150
Here's the Atom plugin for mindmap creation: https://atom.io/packages/markdown-mindmap

Same author also has an open source javascript library that can visualize MD file as mindmap on website: https://github.com/dundalek/markmap

[2020-04-28 07:11] maxcapraro commented on #152
I really like the way Mary Lynn and Linda did it in [Fearless Change](https://www.amazon.de/Fearless-Change-Patterns-Introducing-Ideas/dp/0134395255). Their book has two parts:

- Chapters delivering a story or experience report and referencing related patterns (-> making for an easy and fun reading experience)
- A full list of all patterns (-> making it easy to go back and find that one specific

[2020-04-28 07:16] maxcapraro commented on #152
(This is a hybrid between "Content Work" and "Meta" ... I marked it as `Type - Meta` because it proposes a change to one of the process documents / conventions (patterns format file).

[2020-04-28 07:23] maxcapraro commented on #137
I looked into the ready-made Github actions for this. @lenucksi did so, too. We found that they ignore some actions in PRs / issues. That is problematic because it leads to issues / PRs being marked as stale or even closed, despite there being activity.

@lenucksi, you proposed to use `stalebot` as an alternative? Would that be something that we can tie in with a few lines? Otherwise, my proposal

[2020-04-29 15:17] lenucksi commented on #137
It's a GitHub action / bot thing: https://github.com/apps/stale
Integrating it is a few lines. The issues around it are likely similar to those that @maxcapraro  described. I'm happy to try it out, but we should configure it to only bring up friendly reminders not close things.
And add a note that stale-bot can be drunk and hence isn't allowed to make final decisions, only TCs are and hence should

[2020-04-29 15:33] lenucksi commented on #154
- I agree with both @spier and @maxcapraro that using folders as a state indicator is a nice idea, and one that we should strive to adopt.
- I also agree with @NewMexicoKid on the multidimensionality and especially on the use of meta-data for selection and generation of rendered artifacts.
- In the conference's break-out session the idea for additional indexing axis's came up, which I also think c

[2020-04-29 16:04] lenucksi commented on #132
All done, closing this.

[2020-04-29 16:04] #132 closed, assigned to nobody

[2020-04-29 19:05] spier commented on #154
Ok. We can wait for a couple of more PRs to be merged.

However I doubt that we will ever can to a clean slate (i.e. 0 PRs), so sooner or later we will have to deal with a couple of merge conflicts when introducing this patterns folder structure.

But anyhow, I am happy to wait with this for a bit longer.

[2020-04-30 14:50] lenucksi commented on #154
If we can reduce this to ~5 PRs having to be rebased / merged / ... that would already be a bit nicer than having to do this for ~20 PRs.

[2020-04-30 16:38] spier commented on #154
Makes sense. Let's try :)

[2020-05-01 22:09] rrrutledge commented on #150
Think of labels or dimensions rather than a strict hierarchy.  I can apply any number of labels in multiple dimensions to filter just those patterns that have those labels.  These labels from different dimensions could be applied in potentially any combination.

[2020-05-04 12:45] spier opened #159 "Validation of patterns against pattern template syntax"
It could be helpful to validation patterns against the [Pattern Template](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/pattern-template.md) for various reasons:

* bring existing patterns to a more consistent format, which helps us with the preparation for the creation of the ebook
* help new contributors by validating their pattern contributions, and pointing them to

[2020-05-04 13:05] spier commented on #159
The validation results could look similar to this

[code]

[2020-05-05 09:16] spier commented on #159
The GitHub action generates emails if the linter fails. However the email itself does not contain the info about what exactly failed. So one has to click through to the GitHub repo to figure out what went wrong. That isn't very helpful :)

Example screenshot of the emails that get generated if the linter fails:

![linter-failure-email](https://user-images.githubusercontent.com/163029/81051313-cac5

[2020-05-05 10:42] spier commented on #159
I have created a version of these checks that is very lax (on purpose).

When run against all existing patterns, it mostly finds these things:

* patterns that are using `#` instead of `##` for the headlines
* differences in spelling for `Author/Authors/Author(s)` and `Solution/Solutions`

I think we can live with the difference in Author/Solution spelling for now. Will try to create a linter that

[2020-05-05 11:55] spier commented on #159
I built a version that accepts multiple different spellings of Author/Solution.

The linter now complains about a much smaller number of issues.

[code]

I have not been able to run this correctly as a GitHub Action yet. So far the linter also validates files like `README.md` which is not very useful. Not sure if you can see that, but the output of the GitHub action is visible here on my fork: htt

[2020-05-05 19:14] fwan2000 commented on #150
@rrrutledge Agree the labels and different dimensions can provide a lot flexibility. The example here is just one way of organizing the patterns as a mind map. There can be multiple ways of organizing them. Here's another example attempting to organize patterns based on https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/pattern-system.md#tim-yao for IS projects that are pro

[2020-05-06 19:09] lenucksi opened #162 "Auto-Generate the Mindmap on .md-source changes"
#156 is great stuff, we just need to remember to add a GitHub Action to regenerate the SVG / HTML / rendered products once the .md changes and make a checklist item for PRs to update the .md once new things come in to keep everything fresh.

_Originally posted by @lenucksi in https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/156#issuecomment-624834371_

[2020-05-06 19:12] lenucksi opened #163 "Start Checklist for PR processing to ensure keeping the right things updated on changes"
#156 is great stuff, we just need to remember to add a GitHub Action to regenerate the SVG / HTML / rendered products once the .md changes and make a checklist item for PRs to update the .md once new things come in to keep everything fresh.

_Originally posted by @lenucksi in https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/156#issuecomment-624834371_

[2020-05-07 09:29] spier opened #165 "Broken link to "Donut 8: Not Invented Here""
README.md contains a link to a wiki page that does not exist (anymore).

[code]

I have not checked the history of https://github.com/InnerSourceCommons/innersourcecommons.org/wiki yet but I would suspect that it was deleted at some point?

@lenucksi any idea about this one?

[2020-05-07 14:39] lenucksi commented on #165
Looking at the commits for the wiki that are supposed to be in https://github.com/InnerSourceCommons/innersourcecommons.org-wiki/commits/master I couldn't find any commits pointing to deletion of a page of that name in my first short research.
Leaving this open for further research.

[2020-05-07 16:26] spier commented on #154
@lenucksi I got curious which of the open PRs are introducing new patterns vs how many are modifying existing ones. My assumption is that we would only see merge conflicts for modifications.

## tl;dr

I went through all open PRS and classified them. Only #63, #101 and #102 represent changes to existing patterns. So if we could get them merged or closed, then all other PRs are just new patterns th

[2020-05-08 22:08] spier commented on #159
After some quick fixes to two patterns, the outstanding things that the linter complains about are:

[code]

[2020-05-08 22:13] spier commented on #159
Especially the issues where a *Patlet* is missing will take some time to fix. Writing the Patlets requires to read and condense the whole pattern in a 2-sentence structure. Also getting the PRs for those fixes merged will take some time, as we want to make sure that the Patlet represents the pattern correctly.

In the next days I will send a PR with the code for the custom markdownlinter rules tha

[2020-05-10 10:37] spier commented on #159
This work-in-progress PR shows how the markdown validations would look like in a PR.
https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/168/files#diff-ebf8d058832d99bac8c6533c359a50c5

![pr-annotations](https://user-images.githubusercontent.com/163029/81496853-fcbc6980-92ba-11ea-949c-438beaf57f90.JPG)

[2020-05-10 10:41] spier commented on #162
When you say mindmap, are you referring to `IS.md` and `IS.html`?

What I am missing from `IS.md` as well is an explanation of what it is. e.g. if any reader of the IS Patterns finds this file, how would they know what it is?

[2020-05-11 14:44] lenucksi opened #169 "Design `Advanced Style Guide`"
We should develop an initial version of an advanced style guide. This is relevant for the maturity level `4: established` proposed by #155.

(Edited by @maxcapraro)

[2020-05-11 14:45] lenucksi opened #170 "Design `Glossary`"
We should develop an initial version of a glossary - also containing working group terminology we want to use. It's main focus should be on InnerSource-specific terminology, though. This glossary will be used to validate patterns against the requirements of [Level 3 - Validated](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/contributor-handbook.md#requirements-level-3-

[2020-05-11 14:46] lenucksi opened #171 "Design `Basic style guide`"
We should develop an initial version of a basic style guide, which will be used to validate patterns against the requirements of [Level 2 - Structured](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/contributor-handbook.md#requirements-level-2---structured). This is a follow up on PR #155.

(Edited by @maxcapraro)

[2020-05-11 15:46] lenucksi commented on #162
With `mindmap` I'd refer to the rendered artifact(s), i.e. the SVG or the SVG embedded in a HTML file.
`mindmap source` is the underlying MD file.

Sorry for having an issue that is still a bit raw - it's generated from a PR comment to be dealt with later.

I would hope that we have the mindmap embedded an a larger production (e.g. the pattern catalogue or book at some point) that has additional d

[2020-05-12 07:06] spier commented on #144
@MaineC I would be happy to do the initial work of pulling the information above into the pattern format. If I do that, do you think that you could review that so that I am not misrepresenting the Apache/Europace approach?

[2020-05-12 11:18] MaineC commented on #144
Yeah - I'd be happy to help review!

[2020-05-12 11:57] spier opened #173 "Enable all trusted committers to produce an ebook of proven patterns"
Our mission statement says:

@dicortazar has produced an updated gitbook in April 2020. This is an interactive (clickable) version of our patterns: https://dicortazar.gitbook.io/inner-source-patterns/ (has been removed in the meantime)

## Possible Challenges (with the current approach)

* people cannot download the gitbook. When I heard "ebook" I was expecting an ebook/PDF that people can downloa

[2020-05-12 11:57] spier commented on #173
@dicortazar I would be really curious to hear your opinion about the challenges and proposal above, as you have all the working knowledge from producing the gitbook so far.

[2020-05-12 14:09] spier commented on #144
Excellent, I will get this started.

[2020-05-12 14:23] spier opened #174 "Pattern idea: Increase inter-team engagement with Internal RFCs"
[Requests for Comments](https://en.wikipedia.org/wiki/Request_for_Comments) (RFCs) are a well known concept in the Open Source world. At my company similar concepts start to evolve that go by different slightly different names, but at the end of the day they are RFCs that are only meant for company-internal communication.

I did some googling and found that others are describing similar things. Th

[2020-05-12 15:36] spier commented on #174
The Open Decision Framework also seems related to this: https://github.com/red-hat-people-team/open-decision-framework/blob/master/ODF-community.md

[2020-05-12 20:15] spier commented on #144
@MaineC before I get started, I wanted to clarify one important thing:

When writing this issue, were you thinking that this would become an extension to the existing [trusted-committer pattern](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/project-roles/trusted-committer.md) or a completely new pattern?

[2020-05-13 20:14] jpatrao commented on #174
RFCs can be sent out for projects that aren't necessarily inner source projects but where we need to 1) solicit input from the users e.g. users of an existing or potential users of a new API or library 2) solicit guidance from technical experts in other parts of the company 3) project openness and transparency 4) project a sense of urgency because deadlines for comments are typically communicated

[2020-05-13 21:25] spier commented on #174
Thanks for the insights @jpatrao.

I agree, company-internal RFCs are not only beneficial for InnerSource projects, but can also be a helpful tool for projects that don't usually see InnerSource contributions, such like what you are describing above.

As an aside, I would argue that "guidance from technical experts in other parts of the company" in point (2) above could be considered an excellent

[2020-05-14 01:30] jpatrao commented on #174
Yes, agreed. Everything counts, not just code.

I just googled "purpose of writing out an RFC" to find out all the [aspects](https://github.com/inasafe/inasafe/wiki/How-to-write-an-RFC) of it. It came up in the first link.

[2020-05-15 07:58] stephegn commented on #174
I just wanted to share the presentation which first really opened my eyes to how these sorts of techniques can be used internally within organisations

https://www.infoq.com/presentations/avvo-continuous-improvement/

It doesn't talk about innersource specifically but it talks about making decisions visible and getting collaboration when making changes.

It also points out the importance of using

[2020-05-18 11:33] spier commented on #173
Some other relevant links if we want to use pandoc for this:

* [Writing a Book with Pandoc, Make, and Vim](https://keleshev.com/my-book-writing-setup/) (and [hackernews discussion](https://news.ycombinator.com/item?id=22854332))
* [Using Pandoc to publish a book in multiple file formats: experiences and wishes](https://gist.github.com/rauschma/629d9babf101f5972c7a4c17f882d3aa)
* [Customizing pand

[2020-05-18 20:05] spier commented on #174
See this [conversation in Slack](https://innersourcecommons.slack.com/archives/C2EFRTS6A/p1589310515237000) about this topic.

[2020-05-19 10:43] MaineC commented on #144
I believe this will be enough content to make it a pattern of its own.

[2020-05-19 14:14] lenucksi commented on #174
@tsadler1988 might be interested too :)
Thanks for writing this up!

[2020-05-19 14:16] lenucksi commented on #173
Thanks for the write-up @spier!
I did a bit of searching here too and found this nice LaTeX template to be used with PanDoc:
- https://github.com/Wandmalfarbe/pandoc-latex-template
- Pandoc themselves keep this list of contributed templates: https://github.com/jgm/pandoc/wiki/User-contributed-templates
- General Pandoc demo: https://pandoc.org/demos.html

Here's something more, German language tho

[2020-05-21 08:32] spier commented on #173
So many options :) Great to know that pandoc can also do epub.

I will try to find something that can use a GitHub Action to build both a PDF and an epub. Let's see :)

[2020-05-21 14:31] maxcapraro commented on #170
I want to point out that this is not only relevant in the light of #150, but needed independently of it.

[2020-05-22 16:38] lenucksi commented on #173
If there isn't any GitHub action will actually happily run any Docker container or even blank shell scripts.
So if there isn't anything readymade in the marketplace or directly usable from within the Pandoc Docker repos we can just hack our own...

[2020-05-27 08:33] spier opened #180 "Pattern Idea: Scripts To Rule Them All"
_Pattern idea: Enable contributions in polyglot environments with "Scripts To Rule Them All"_

Many companies have a polyglot environment, using multiple different programming languages for the software that they build. The different programming ecosystems come with various ways of bootstrapping the project locally. That means that getting from `git clone` to an up-and-running project in a develop

[2020-06-25 18:14] chtompki opened #181 "Definition of an Open Source or Inner Source Project"
I'm working with @MaineC on a paper about open source ideas, and need a citable resource for the work. So, I'm going to make a contribution in [/patterns/1-initial](https://github.com/InnerSourceCommons/InnerSourcePatterns/tree/master/patterns/1-initial) about what I think the minimum resources of an open source project are. Basically they follow as:
1. Open code base
2. A website (can be the gith

[2020-06-25 18:18] chtompki commented on #181
Scratch the `/patterns/1-initial` I'll just make another `.md` file in the root of the project

[2020-06-26 09:18] chtompki commented on #181
PR #182

[2020-07-06 15:56] Ciampi10 opened #183 "Health"

[2020-07-28 18:49] spier commented on #183
Hi @Ciampi10. I am just seeing this issue now.

Just the title "Health" does not really tell me what this about :)
Could you elaborate please?

[2020-07-28 18:58] spier opened #185 "Move patterns to new maturity levels"
To start using the [new pattern maturity levels](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/contributor-handbook.md#maturity-levels) outlined as part of the new contribution process, we want to move all existing patterns to a folder structure, indicating which maturity each pattern is in.

As a first step we will:

- Move all Donut patterns to folder [1-initial][]
-

[2020-07-28 19:02] spier opened #186 "Confirm 3 known instances to validate patterns"
To start using the [new pattern maturity levels](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/contributor-handbook.md#maturity-levels) outlined as part of the new contribution process, we want to move all existing patterns to a folder structure, indicating which maturity each pattern is in.

First we do this:
https://github.com/InnerSourceCommons/InnerSourcePatterns/i

[2020-07-28 19:16] spier opened #187 "Adapt PR labels to new contribution process"
We have defined [new pattern maturity levels](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/meta/contributor-handbook.md#maturity-levels) as part of the new contribution process.

To make these maturity levels part of our shared language, and to institutionalize our new process, we want to remove the old labels on PRs that we don't use anymore. See https://github.com/InnerS

[2020-07-28 19:16] spier commented on #187
@maxcapraro can you confirm that these were the label changes that you had in mind?

[2020-07-28 20:05] spier commented on #165
@lenucksi in the interest of cleaning up our repo, I suggest that we give up on this one. I have removed the reference to this Donut Pattern in https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/188/commits/0869b3b08a88f152bdc03082e1af413c0660790d

I say let's close this issue. If anybody every comes across this problem again, they can always create a new Donut.

[2020-07-28 22:48] spier commented on #185
I got a WIP PR open for this. Feel free to assign me to this issue if you like.

[2020-07-30 16:45] lenucksi commented on #165
Since we have not been able to retrieve the missing :doughnut: we're closing this right now and removed the pattern from the index as @spier mentioned (thanks!).
If the creator of the :doughnut: finds this: Please bring it up again if you think it should be brought up.

[2020-07-30 16:45] #165 closed, assigned to nobody

[2020-07-31 13:40] fwan2000 commented on #186
Here's an idea for your consideration to find the instances for the patterns. How about showing the mindmap of patterns to the general slack channel and soliciting input there? Maybe they can follow the link in mindmap to the pattern md and open a PR to add their instance, or link to a talk that mentioned the pattern?

When would be a good time to do this? After all the patterns regrouping merged

[2020-08-01 13:02] chtompki commented on #116
Note PR #182. I think I’m playing around with a considerable number of the same ideas. What do you think of that PR? I would think we could potentially add a maturity model that references the definitions that I’ve laid out. Furthermore, I want to be sure that I’m not stepping on toes with my suggestions there. They are merely ideas that I’ve dealt with in my past experiences.

[2020-08-02 08:25] spier commented on #183
@lenucksi I would suggest to close this request, as it was likely opened by mistake. @Ciampi10 can always open a new issue if the request/question is still relevant.

[2020-08-03 11:41] lenucksi commented on #183
Fully agree here @spier, closing this.

[2020-08-03 11:41] #183 closed, assigned to nobody

[2020-08-09 22:01] chchrist commented on #89
@MaineC we have a team that developed a service that acts as a facade for another third party SaaS so in the future we could switch to a new same type SaaS without much overhead. Now other teams want to start using this service but the original team does not want to be responsible for problems that other teams might introduce. Does the above pattern fits this case? Does that mean that each new tea

[2020-08-10 14:07] lenucksi commented on #89
Hey @chchrist, thanks for bringing this up! :+1:
I think given the short form of "InnerSource not InnerDeployment" this might be interesting. There is also a mention of the "30 days of warranty" pattern in the linked PR discussion that might be of interest to you.

I've also posted a link to your question to our [Slack](https://innersourcecommons.org/slackinvite/) - you are very much invited to jo

[2020-08-11 08:58] spier commented on #185
This work has been completed with PR https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/188.

[2020-08-11 08:58] #185 closed, assigned to nobody

[2020-08-11 13:56] spier opened #192 "Move Pattern "Reluctance to Receive Contributions" to markdown"
The pattern [Reluctance to Receive Contributions](https://docs.google.com/document/d/13QDN-BpE_BixRFVGjao32n4Ctim0ROXAHbBWMBOijb4/edit) currently lives in a Google Doc. We would like to move it to a markdown file in this repo, so that it is easier for everybody to access this pattern.

@user-group it looks like you might know more about this pattern?

Do you think you could convert this pattern to

[2020-08-12 13:39] spier commented on #169
@maxcapraro after dropping level 4, we can close this issue here, or not?

[2020-08-17 11:52] lenucksi commented on #138
We merged #147 do we need anything else to close this or can we close this? @spier might know.

[2020-08-17 12:47] spier commented on #138
Yeah, we just forgot this issue. This can be closed.

[2020-08-17 12:47] #138 closed, assigned to nobody

[2020-09-11 12:31] spier commented on #173
Another example of a gitbook produced from a github repo:
* repo: https://github.com/OWASP/owasp-masvs
* book: https://mobile-security.gitbook.io/masvs/

[2020-09-16 10:40] Michadelic opened #212 "Alternative viewpoints for Categorization Mindmap to find matching patterns more easily"
This idea comes from breakout #3 of the ISC Fall Summit 2020, documenting it here so that it does not get lost:

Offer additional visual mindmaps like the pattern categorization mindmap but with different viewpoints:
  * Phases/Adoption - this is covered by the extisting [InnerSource Program Mind Map](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/pattern-categorization/inne

[2020-09-17 12:10] fwan2000 commented on #212
Love the idea of having different viewpoints to categorize the patterns! One more angle could be program oriented vs project oriented. OSPO/ISPO might be more interested in program level patterns. Personnels involved in doing an InnerSource project might be looking for patterns at project level.

[2020-09-17 12:40] lenucksi commented on #212
Another axis:
- Likelyhood of applicability of a pattern by organizational size

[2020-09-17 13:15] lenucksi commented on #174
We've now merged the write-up as #204. Should we close this ticket accordingly?

[2020-09-17 13:28] spier commented on #174
Yes, I am closing this. We will improve this pattern further but for that we don't need this issue, which was mostly a reminder to write the first version :)

Thanks for catching this.

[2020-09-17 13:28] #174 closed, assigned to nobody

[2020-09-17 15:56] lenucksi commented on #116
The pull request for this ticket just got merged - what do you think about closing this ticket now @dicortazar?

[2020-09-17 15:59] dicortazar commented on #116
Let's close this :). I'll do it.

[2020-09-17 15:59] #116 closed, assigned to nobody

[2020-09-18 08:00] spier commented on #173
Btw I am starting to look into gitbooks today. If there is any gitbooks expert that sees this here and wants to help, let me know :)

[2020-09-18 13:01] lenucksi commented on #173
Sounds great, @dicortazar already has a bit of GitBook experience.
We also have a non-profit commercial subscription for it, that will likely come in handy.

Looking forward to see a WIP PR for it so others can join in. Could you try to push that to a different branch than `master`  for now so we can possibly merge more material while iterating on the rendering?

Found this GitHub Action that migh

[2020-09-18 19:13] spier commented on #173
Yep, I am already working on a branch `book` (have not created a PR yet).

For now I am shooting for a gitbook only (that will also provide a PDF download).

It looks like I can create that directly with the GitHub integration available in gitbook, but maybe that GitHub Actions offers more flexibility. We can check that.

I will share what I have once I have learned a bit more about it. Latest nex

[2020-09-18 20:28] spier commented on #187
@lenucksi with Max short on time right now, could you help to clean up these old labels as suggested above? I think they are only confusing  right now, as they don't fit our new Maturity Levels anymore. Thanks for your help!

[2020-09-19 10:17] spier commented on #173
In an effort to _release early and often_, here a first experiment:
https://innersourcecommons.gitbook.io/innersource-patterns-staging/v/book/

It is based of this branch:
https://github.com/spier/InnerSourcePatterns/tree/book

I will send a PR later and summarize what I have tried, and how this book works right now.

[2020-09-20 10:45] spier opened #215 "Level up RFC pattern to Structured"
The pattern [Transparent Cross-Team Decision Making using RFCs](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/1-initial/transparent-cross-team-decision-making-using-rfcs.md) is currently in maturity **Initial**. We submitted this pattern rather quickly, to have it in the repo in time for the ISC Fall Summit 2020.

We have some further content available that is rela

[2020-09-21 14:26] lenucksi commented on #187
Moved those. What about `2 - Needs revision` `3 - do second review` and `4 - finalize` looks like those should also be removed.

[2020-09-21 14:29] lenucksi commented on #173
Looks good to me. I think I'll give the Pandoc magic of OWASP a go once I find a bit of time. I should give us a bit more flexibility when it comes to nice, book-style rendering.
Not sure what Gitbook offers us in that regard.

Looking forward to the PR. Feel free to also just open up a WIP-PR if you like.

[2020-09-21 20:12] spier commented on #187
@lenucksi great catch. Those three can be removed as well. I don't think we are using them right now anyways. We can always introduce new ones if we need them later.

Thanks!

[2020-09-21 21:06] spier commented on #173
Indeed it looks like gitbook offers very few layouting options. Since they moved their service away from their CLI approach and exclusively to a SaaS offering on gitbook.com they have greatly reduce the amount of configuration options for their service.

I am still a bit unsure if the pandoc approach will be sustainable for us, assuming that it will be more complex to setup and maintain (and we ha

[2020-09-22 03:02] spier opened #218 "Basic spell checker for patterns"
Patterns written straight in markdown format often have some minor spelling mistakes, as GitHub does not provide any automatic checks for that.

Therefore the patterns (and the book that we want to produce) would benefit from at least a basic spell check. That spell check could e.g. run when a PR is created. The spell checker should not make the CI run fail. I would rather use the results of the s

[2020-09-22 03:30] spier opened #219 "Recognize all contributors to the InnerSource Patterns"
It would be nice to recognize all contributors to our InnerSource Patterns in a public way.

A couple of ideas why that might be useful:
- people that have committed code to this repo are already visible [here](https://github.com/InnerSourceCommons/InnerSourcePatterns/graphs/contributors) however that is a bit hidden
- there might be contributors that have helped in ways other than sending pull re

[2020-09-22 11:00] lenucksi commented on #187
Cleaned the remaining unused labels up, this concludes this issue. Closing it.

[2020-09-22 11:00] #187 closed, assigned to nobody

[2020-09-22 11:19] lenucksi commented on #218
Added the [prosebot](https://github.com/apps/prosebot) to our repo. It should become active on PRs for .md and .txt now.
There are three linters active I can envision that we might reduce them to the spellchecker only.

[2020-09-22 11:22] lenucksi commented on #219
Good idea. I've already seen the allcontributors.org bot elsewhere and it looks nice.

Also, having all participants included in the author notes of publications is good practice we've always tried to follow in the learning path WG. What we did though was to check with people if they want to be included in the check after creating the contributor list.

[2020-09-22 11:54] spier commented on #187
Awesome, thank you!

[2020-09-22 12:28] lenucksi commented on #173
Great thanks for the insight! Can you point to some point of their docs detailing the options/restrictions around PDF layout they provide?

It's not more complex than what we already use to render the learning path, effectively supported by a large OSS organization and highly popular, proven software.
And who knows it might even attract more people that are interested in this - especially given th

[2020-09-22 12:29] lenucksi commented on #170
Collected some review / issue links that mention the need for a glossary or possible entries (will amend once I find more):

https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/46/files#r168488949

[2020-09-22 16:01] spier commented on #173
So the formatting options for text and images can be found here:
https://docs.gitbook.com/editing-content/rich-content

It's pretty basic stuff that is mostly also available when formatting content in markdown.

I have not seen any specific formatting options for the PDF output actually. gitbook just offers an "Export as PDF" option and that seems to be it.

[2020-09-22 16:43] spier commented on #218
Nice nice nice. Looking forward to seeing the bot in action.

Feel free to close this issue already if you consider it solved (we can open it again if we want to do more at a later point).

[2020-09-24 14:15] lenucksi commented on #218
I'll close once I've seen that it works.

[2020-09-26 14:33] spier opened #224 "Rename master to main (early 2021)"
Many communities are considering renaming the default branch name of their repository from `master` to something else (e.g. `main`).

GitHub recommends to "waiting until later this year (2020)" with the renaming, as they are "investing in tools to make renaming the default branch of an existing repository a seamless experience for both maintainers and contributors". Also see [further info](https:/

[2020-09-27 15:43] lenucksi opened #226 "Find and reference unknown patterns in Reluctance to accept contributions patterns"
In a previous version of the pattern (in this [gDoc](https://docs.google.com/document/d/1D0vghmh-MZ-bVASrH1yGqRPP-ODvlUYOtfG_LAJp2BE/edit)) I found other pattern names listed under **##See Also**:
Not invented here, (TBW) Thirty-Day Support, (TBW) Trusted Committer, (TBW) Fear of Contributions

Maybe that info could help us resolve which patterns the authors had in mind when they wrote this?

_Ori

[2020-10-23 18:29] dellagustin opened #231 "Pattern idea: Service Level Agreement (SLA)"
# Problem

- Teams with resource constraints may be reluctant to adopt InnerSource (accept contributions), due to fear of missing resources to review and integrate them in reasonable time
- Contributors get frustrated to to lack of response or excessive delay on review and merge of contributions

# Solution

The maintainers of the receiving component will document their Service Level Agreement (SL

[2020-11-08 16:10] spier commented on #173
While producing a first version of the gitbook in https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/217, I was sometimes second-guessing whether this activity makes sense, if we should just keep the Patterns as a GitHub repo and not do a gitbook at all.

Eventually I decided that producing a gitbook is still worthwhile, for the following reasons:

* **(consumers)** have something that

[2020-11-21 19:33] spier commented on #231
The [base documentation](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/2-structured/project-setup/base-documentation.md) pattern recommends README and CONTRIBUTING files.
The [visualization](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/2-structured/project-setup/assets/base_docs_drawing.png) for the CONTRIBUTING file mentions "_tim

[2020-11-21 19:34] spier commented on #231
@martinwoodward what do you think about this pattern idea?

[2020-12-05 15:19] spier commented on #114
@MaineC just wondering if this issue is actually already fully implemented, given that there are 3 PRs related to it that are already merged? Or did you still want to add more to it?

[2020-12-06 11:11] spier commented on #218
@lenucksi I just remembered prosebot, and that you added it. However in the last PRs that I created I did not see the bot interact with my PRs or anything. Do you know how it is supposed to work?

[2020-12-12 20:00] lenucksi commented on #218
Looks we're either holding it wrong or it doesn't work at least as I expected. It 's installed according to its documentation and should just show up in PRs. Take a look at the linked docs above.

[2020-12-13 20:05] spier commented on #173
The first gitbook generated from the `master` branch of this repo is now live at:
https://innersourcecommons.gitbook.io/innersource-patterns/

We may still want to configure a custom domain for this book and other things of that nature.
Those tasks and ideas are captured in https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/242.

I think we can already close this issue though.

[2020-12-14 00:46] tsadler1988 commented on #215
Sorry it's taken me so long to make time for this - finally raised #245 as a starting point.

[2020-12-14 20:57] spier commented on #163
@lenucksi is this a duplicate of https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/162?

[2020-12-14 20:59] spier commented on #150
@fwan2000 would you consider this issue done already by your work on the pattern categorization in https://github.com/InnerSourceCommons/InnerSourcePatterns/tree/master/pattern-categorization? If yes, feel free to go ahead and close the issue :)

[2020-12-14 21:04] spier commented on #186
First pattern with sufficient amount of Known Instances seems to be:
https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/2-structured/innersource-portal.md

[2020-12-14 22:34] spier commented on #186
This one is also close (already has 2 Known Instances):
https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/2-structured/trusted-committer.md

[2020-12-16 14:20] fwan2000 commented on #150
Yes the work is done for the scope in this issue. I will close it.
It's been such an amazing experience working with you all on getting this issue implemented! Thank you @spier @NewMexicoKid @lenucksi !

[2020-12-16 14:20] #150 closed, assigned to fwan2000

[2020-12-16 17:05] spier commented on #150
And you did amazing in identifying a need, ideating a solution and putting it into practice in short iterations.
And look where it got you to, you are now a star in the APAC region after our last summit 👍
So **thank you** @fwan2000 !

[2020-12-23 07:50] spier commented on #224
Latest [update from GitHub](https://github.com/github/renaming#creating-a-seamless-move-for-existing-repositories-) about this:

So I think we can wait for that, and then change our default branch.

[2020-12-23 07:53] spier commented on #192
This work has been done. Closing the issue.

[2020-12-23 07:53] #192 closed, assigned to nobody

[2020-12-23 07:56] spier commented on #173
We do have an ebook/website now at https://innersourcecommons.gitbook.io/innersource-patterns/, so I am closing this issue. Any follow-up work can go into new issues.

[2020-12-23 07:56] #173 closed, assigned to nobody

[2020-12-23 08:13] spier opened #250 "Nicer domain for the book"
Currently the URLs of our InnerSourcePatterns book look like this:

* book landing page at [innersourcecommons.gitbook.io/innersource-patterns](https://innersourcecommons.gitbook.io/innersource-patterns/.)
* individual patterns at [innersourcecommons.gitbook.io/innersource-patterns/patterns/innersource-portal](https://innersourcecommons.gitbook.io/innersource-patterns/patterns/innersource-portal)

[2020-12-25 08:41] spier commented on #250
I reviewed gitbook's configuration options for [custom domains](https://docs.gitbook.com/hosting/custom-domains) again.

If I understand the instruction's correctly, then gitbook offers theres 2 general options:

a) a sub-domain just for the patterns book (called **space domain**)

* book landing page at `patterns.innersourcecommons.org`
* individual patterns at `patterns.innersourcecommons.org/pa

[2020-12-25 22:34] spier commented on #154
We didn't end up with the folder structure originally proposed in this issue, but rather one that follows the new maturity levels:

* 1-initial
* 2-structured
* 3-validated

Still we can close this issue as the purposes that this issue was after has been achieved 🎈

[2020-12-25 22:34] #154 closed, assigned to nobody

[2020-12-26 09:55] spier commented on #77
@NewMexicoKid some comments in this thread sound like you had previously talked or written about something called "Lip Service InnerSource". Is there any video or writeup that I can check out?

[2020-12-26 09:56] spier commented on #91
Original title:

[2020-12-26 09:58] spier commented on #114
I am considering this one done. We can always reopen it again or file a new issue with further pattern ideas if people disagree.

[2020-12-26 09:58] #114 closed, assigned to MaineC

[2020-12-26 10:00] spier commented on #162
FYI documentation and files related to the mindmap are now in:
https://github.com/InnerSourceCommons/InnerSourcePatterns/tree/master/pattern-categorization

[2020-12-27 11:54] spier commented on #169
Closing this issue as we changed the requirements for our maturity levels. Level 4 does not exist any more i.e. an _Advanced Style Guide_ is no longer needed.

[2020-12-27 11:54] #169 closed, assigned to maxcapraro

[2020-12-27 11:59] spier opened #259 "Solidify patterns in Maturity Level 2: Structured"
Our `README.md` lists the patterns under [Maturity Level 2: Structured](https://github.com/InnerSourceCommons/InnerSourcePatterns#maturity-level-2-structured) in two sub-groups:

* Reviewed Patterns (proven and reviewed)
* Pattern Drafts (proven, not yet fully reviewed)

We inherited these sub-groups from the review process that we had before we introduced the 3 new maturity levels. Therefore I th

[2020-12-27 12:01] spier commented on #259
@fwan2000 I was wondering if you would be interested in helping with this, and if you have further ideas about how we could go about this cleanup and validation process?

[2020-12-27 13:43] spier commented on #259
At the end of this process, all patterns in level 2 should be in the `patterns/2-structured` folder.

I noticed that this isn't true yet for these patterns:
- patterns in open PRs:
  - [Assisted Compliance](https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/74)
  - [Include Product Owners](https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/71)
  - [Open Source Trumps InnerS

[2020-12-29 16:52] markdav-is commented on #250
I like this option: book landing page at patterns.innersource.org as it's self-contained and folks can easily see the main org as well.  seems the cleanest to me.  If you make more books, they can each have a specific prefix.

[2020-12-29 17:04] spier commented on #250
Thanks for the feedback @markdav-is! I just realized that I got the domain part wrong in my previous comment (fixed now).

So it would be `patterns.innersourcecommons.org`. Still, short enough I think.

If I may pick your brain on yet another "URL question":
Which of these two URLs for an individual pattern would you prefer?

1. `patterns.innersourcecommons.org/patterns/innersource-portal`
2. `pat

[2021-01-01 13:59] lenucksi commented on #77
Even a bare-bones PR for a 1-initial to see if it makes it to 1-inital might help here. Can still close that one. There's enough content here to copy/paste one based on it I guess.

[2021-01-04 23:22] spier opened #267 "Markdownlint Action is running twice"
I noticed that the markdownlint GitHub Action that we have is running twice on the same PR.
It is mostly a cosmetic problem and it also might be a bit confusing for people.

I know that we could prevent it by limiting the action workflow execution to pushes to `master` [like in this GHA configuration](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/.github/workflows/lint-patt

[2021-01-04 23:29] spier commented on #267
hi @nschonni. I filed this issue to keep track of the duplicate Action execution that I am seeing.

I remember that we had already discussed this elsewhere but I couldn't find that conversation thread anymore. I think your argument for not limiting the execution to `master` only was something related to enabling contributors to fix issues on a branch, without even having to open a PR, right?

[2021-01-05 00:01] nschonni commented on #267
Yeah, you can look at something like https://github.com/fkirc/skip-duplicate-actions#skip-concurrent-workflow-runs to trim the extra runs

[2021-01-07 13:23] dterol23 commented on #218
I use in some other projects this spell checker GitHub action https://github.com/uribench/spell-check, not sure if that could also be interesting for this issue. My colleague (uribench at GitHub), wrote the spell checker and he will be happy to support the evaluation and integration if it is interesting. It can be downloaded and run locally first for testing. https://github.com/uribench/spell-chec

[2021-01-08 19:45] spier opened #269 "Adding Revision History section to pattern template"
Idea: how about we add a _Revision History_ section, @spier , @lenucksi ?
I feel it's kinda odd to have more than one entry in the _Status_ section. Just my 0.02 $.

_Originally posted by @gruetter in https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/254#discussion_r554127296_

[2021-01-08 20:01] lenucksi commented on #269
Sounds good to me, we'll need that ( + changelog and addressability) for a regular release of the "book" or website anyway.

How do we go at it?
A simple
0.x for 1-initials
2.x for 2-structured
3.x for our highest grade?

counted in the footer? Would be great to be able to parse around a bit.

[2021-01-10 10:59] spier commented on #267
Hmm, I see. Feels a little bit strange to add yet one more Action to skip the extra runs of this Action.

That's why I was wondering if this is a shortcoming in GitHub Actions itself, or if we are just using it the wrong way.

It would help me if you could elaborate on the experience from a contributor perspective that you are after. I found [the previous comment](https://github.com/InnerSourceCom

[2021-01-10 17:55] spier opened #275 "Purpose of this repo and specifically the main README"
@lenucksi raises an interesting point [in this conversation](https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/270#pullrequestreview-564849073).

This made me reconsider the purpose of this repo and specifically the main README.

I think we should ask ourselves what we want this repo to be:

1. the entry point for "everything Patterns"
2. a place for people that just want to read patt

[2021-01-10 18:04] spier commented on #275
My personal answer to the question "**What do we want this repo to be**":

- **[no]** the entry point for "everything Patterns"
  - => I am not sure where this should be though. Maybe a landing page on innersource.org that can then point to the book, to youtube videos, etc?
- **[undecided]** a place for people that just want to read patterns
  - => The starting point for the pure "reader type" sho

[2021-01-12 20:21] spier opened #276 "RFC Pattern improvements"
Further improvement ideas for the pattern:
https://patterns.innersourcecommons.org/p/transparent-cross-team-decision-making-using-rfcs

Previous PR with some further info about these topics:
https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/245

## Topics:

- **Title / URL** - a shorter title
  - **Why**? A shorter title would make it easier to reference the pattern (e.g. from other p

[2021-01-12 20:38] spier commented on #276
@tsadler1988 I allowed myself to aggregate the previous discussions about  **Title** and **Sketch** into this new issue.

Wrt **Title**:
* once we publish the patterns in the book, it should be our goal to keep the URLs as stable as possible, so that we can reference the patterns in other places, without running the risk that the URLs break. So if want to still change the URL, we should do this re

[2021-01-17 09:45] spier commented on #218
@lenucksi not sure what changed but now prosebot is doing stuff. I see these 3 flavors of it on some PRs now.

![Screen Shot 2021-01-17 at 10 42 57 ](https://user-images.githubusercontent.com/163029/104836832-01590900-58b1-11eb-95f9-ee332a21acdb.JPG)

[2021-01-17 15:38] spier commented on #215
The linked PR is merged now, and the pattern is in Level 2-Structured now.
So let's close this issue 🎉

Some ideas for future improvements of the pattern are kept in https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/276.

[2021-01-17 15:38] #215 closed, assigned to nobody

[2021-01-25 07:43] voborgus commented on #250
I will choose the third option if it's possible technically:
`patterns.innersourcecommons.org/innersource-portal` :)

another point to discuss here: since we're going to a subdomain is it possible to change the design of the git book?
Not for 100% same with the website but at least copy colors and the header.

[2021-01-25 22:16] spier commented on #250
Thanks for the feedback @voborgus .

Can you elaborate why this would be your preferred version? Brevity of the URL, or something else?

It would be possible to do this. However it would require us to move all patterns directly into the root of the book, which means that they would be sitting side by side with the **Introduction** and the **Table of Contents**. Also if we want to add further pages

[2021-01-26 14:38] voborgus commented on #250
Yep and the meaning of the URL: `go to patterns subdomain and get the pattern with the name specified`

But I prefer the easiest possible way to fulfill the task and the short version with `/p/` works for me too.

[2021-01-26 14:41] voborgus opened #283 "Similar design with the new ISC site"
Since we're going to a subdomain (#250) will be great (if possible) to change the design of the git book
Not for 100% same with the website (currently at [innersourcecommons.net](http://innersourcecommons.net)) but at least copy colors and the header.

[2021-01-26 21:21] spier commented on #283
Thanks for sharing this idea @voborgus.

gitbook doesn't have that many design customization options, but let me share the ones available:

## Color

We can set one main color, which will change the color of the header and the links.
Based on what I see on https://innersourcecommons.net I used the dark green (`#0AA8A7`) for that.
I already set that at https://innersourcecommons.gitbook.io/innersou

[2021-01-27 11:26] voborgus commented on #283
Which part would you like to reproduce?

While saying header I mean something like:

![image](https://user-images.githubusercontent.com/9394918/105984363-0b49eb80-60ab-11eb-8cde-aabf426042c7.png)

But not sure it's possible with GitBook.

Seems the closest one with the default ISC `PT Sans` font – `Lato`.

![image](https://user-images.githubusercontent.com/9394918/105984650-7eebf880-60ab-11eb-8227

[2021-01-29 19:09] spier commented on #159
This has been implemented in #257. Closing issue.

[2021-01-29 19:09] #159 closed, assigned to nobody

[2021-01-31 08:38] spier opened #285 "Pattern idea: Requiring InnerSource before Open Source"
Going straight from closed-source to Open Source is not always possible, and it can also be a hard transition for the maintaining team as the required processes are very different.

To address that, somebody floated the idea that one could be **requiring InnerSource before Open Source**, sort of like an incubation phase inside of the company to see if a project has the potential to become Open Sou

[2021-01-31 11:03] spier commented on #285
One other possible tag line that may spark additional thoughts about this:
"InnerSource as a stepping stone to Open Source"

[2021-02-05 18:06] spier commented on #259
Quite a bit of cleanup went into this issue (see linked PRs) but it is finally done.
Aaahhh, this felt good. :)

[2021-02-05 18:06] #259 closed, assigned to nobody

[2021-02-06 11:41] spier opened #288 "Pattern idea: ShipItDay / OKR"
Is _ShipIt Day_  related to OKR? Reading up on it [here](https://www.infoq.com/news/2012/06/shipit-days), it feels like a potential pattern in its own right.

_Originally posted by @gruetter in https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/78#discussion_r170567000_

[2021-02-06 11:42] spier commented on #288
@gruetter this is from a rather old thread, but maybe you still recall? Could you elaborate how the article linked above is related to InnerSource and how you could see the challenge and solution spelled out as an InnerSource pattern?

[2021-02-07 19:56] spier commented on #117
For a similar purpose, SAP's reference implementation of the **InnerSource Portal** [proposes](https://github.com/SAP/project-portal-for-innersource/blob/main/CONTRIBUTING.md#listing-project-in-the-project-portal-for-innersource) an `innersource.json` file in the root of the repository with some extra attributes.

 @Michadelic could you elaborate a bit out why you chose the given approach, and how

[2021-02-08 12:26] Michadelic commented on #117
Sure, instead of self-registering with a central service as described in #118 we use a decentralized approach with GitHub topics and local metadata checked into the project (similar to a package.json descriptor for nodejs projects). The crawler checks all repos with the topic and optionallly loads the `innersource.json` file with additional metadata about the project to enricht the display of the

[2021-02-12 09:08] spier commented on #218
We deactivated prosebot again today, as it was a bit too chatty. It created so many inline annotations in PRs that it became hard to read the actual pattern content or follow the feedback from other contributors. For an example of that see https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/289/files

Seems like it is hard to find a good tradeoff between too much and too little checking

[2021-02-13 14:49] spier commented on #283
Hi @voborgus.

I don't think I can reproduce the full header.
Maybe it is even better that way, as otherwise we would constantly have to check to keep website and gitbook in sync.

However I could use a logo at the top left of the gitbook that looks similar to the one that you have on the new website.

Could you create a logo similar to the one that you have on the website but instead of "Commons"

[2021-02-14 11:20] spier commented on #17
Not enough context in this issue to create a pattern from it. Will close it as **Stale**.

Also if this is truly an InnerSource pattern, I would expect it to be discovered one day by somebody else again :)

[2021-02-14 11:20] #17 closed, assigned to nobody

[2021-02-14 11:20] spier commented on #36
Not enough context in this issue to create a pattern from it. Will close it as **Stale**.

Also if this is truly an InnerSource pattern, I would expect it to be discovered one day by somebody else again :)

[2021-02-14 11:20] #36 closed, assigned to nyeates

[2021-02-14 11:21] spier commented on #35
Not enough context in this issue to create a pattern from it. Will close it as **Stale**.

Also if this is truly an InnerSource pattern, I would expect it to be discovered one day by somebody else again :)

[2021-02-14 11:21] #35 closed, assigned to nyeates

[2021-02-14 11:24] spier commented on #163
Closing as duplicate.

[2021-02-14 11:24] #163 closed, assigned to nobody

[2021-02-14 11:27] spier commented on #152
@fwan2000 this is a great idea.

Right now this issue talks about a general idea for all patterns.

Some ideas to make this more executable:
- which of the existing patterns already have the type of **Story** (narrative) that you are looking for?
- which of the existing patterns lack the same.
- could you provide an example of such a story for one such pattern?

[2021-02-14 11:32] spier commented on #212
This is a great idea to make the patterns more easily discoverable.

To make the maintenance of such alternative viewpoints more manageable, we should probably look into automating it, as already raised in https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/162

_An additional thought:_
In the context of the gitbook I have also been exploring if one could generate a very simple index

[2021-02-15 01:14] fwan2000 commented on #212
What do you think of adding labels as another section in the patterns to
help discoverability? I think labels could help to generate the index or
mindmap to get the same category of patterns together.

On Sun, Feb 14, 2021 at 6:33 AM Sebastian Spier <notifications@github.com>
wrote:

[2021-02-15 01:21] fwan2000 commented on #152
A quick grep in structured directory shows the following patterns having a story:

dedicated-community-leader.md:## Story
gig-marketplace.md:## Story
innersource-portal.md:## Story
repository-activity-score.md:## Story
transparent-cross-team-decision-making-using-rfcs.md:## Story

We may not need to have a story for every single pattern. It may worth adding a story for the upcoming pattern that wi

[2021-02-15 02:14] NewMexicoKid commented on #212
Labels make a lot of sense; however, if it is completely free form, we
might end up with many labels that belong to what should be the same
label/category. If we introduce a labels section, perhaps we could have a
common central labels document where people should go to find labels or add
new labels (to minimize unnecessary proliferation).

              —Tim

[2021-02-15 09:02] spier commented on #152
Good idea to grep for this :)

Do you mean "deep dive" as in "pattern of the month" #280?

This thread certainly got me thinking. No coherent thoughts yet, so I am just listing them here to see if any of them connect.

### "Quickly" (speed of reading)

There is an interesting issue here:

* The **Patlet** is meant to tell readers at a glance "does this sound relevant/interesting for me at all" - I

[2021-02-15 09:16] spier commented on #212
Adding labels to patterns could lead to interesting new features for the readers.

If we were to create an index page based on all patterns then that could also serve as the "central labels document" that the authors/writers can then use to use the labels in a more consistent manner.

Also we can make it part of the review process to check if labels have been used consistently, so the Trusted Comm

[2021-02-22 14:08] spier opened #298 "Adding visuals to the existing patterns"
Many of the patterns don't have any visuals today.
That makes them a bit boring to look at, and it is also harder to remember a pattern that you have already read, as you have no visual reference points.

Of course the best would be to create custom images/charts/tables etc directly related to the pattern content. Motivating the pattern contributors to do this could take a long time though.

Could

[2021-02-26 17:45] spier commented on #283
Thanks for the logo! (got it via Slack)

The adapted design looks quite good now I think.
Simplistic but very clean :)

![Screen Shot 2021-02-26 at 18 43 53 ](https://user-images.githubusercontent.com/163029/109335711-b2fd3980-7862-11eb-82be-706c4f00ef81.JPG)

[2021-02-26 17:46] spier commented on #283
I am closing this issue because I believe that this is the best we can do design-wise right now on the gitbook service.

Thanks for your help with this @voborgus ❤️

[2021-02-26 17:46] #283 closed, assigned to nobody

[2021-02-26 18:40] spier commented on #250
I am reaching out to @cewilliams about this. Will go for `patterns.innersourcecommons.org` as a sub-domain.
We can then test later how exactly we want the full URL (incl path) to look like.

[2021-02-27 08:41] spier opened #299 "Unresolved TBD placeholder in 30 Day Warranty"
When reading the [30 warranty pattern](https://innersourcecommons.gitbook.io/innersource-patterns/patterns/30-day-warranty) I noticed a small TBD (see [source file](https://github.com/InnerSourceCommons/InnerSourcePatterns/blame/master/patterns/2-structured/30-day-warranty.md#L17)) that reads:

I wonder if anybody knows that this might be referring to, and how we can fix it?

[2021-02-27 08:42] spier commented on #299
@gruetter as you seem to have spent some time with this pattern, do you recall what this TBD note might have been about?

[2021-02-27 09:17] spier opened #302 "What is the ISGO in the Contracted Contributor Pattern"
The Contracted Contributor Pattern mentions an **InnerSource governance office (ISGO)**.
See [code](https://github.com/InnerSourceCommons/InnerSourcePatterns/blame/master/patterns/2-structured/contracted-contributor.md#L55-L58).

I wonder if that is another name for the [Review Committee](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/2-structured/review-committee.m

[2021-02-27 09:19] spier commented on #302
There is also this pattern idea that may be related:
[InnerSource Guidance Group](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/1-initial/innersource-guidance-group.md)

[2021-02-27 13:01] NewMexicoKid commented on #299
I think that this refers to a (probably yet-to-be-written) pattern about
setting clear expectations for contributing code by having a good
contributing.md. The closest thing we have is probably standard base
documentation
<https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/2-structured/project-setup/base-documentation.md>
.

           --Tim

On Sat, Feb 27, 2021 at 2:4

[2021-02-27 15:06] spier commented on #299
Good call! I will link to the **Standard Base Documentation** pattern for now. Certainly more helpful than the current TBD placeholder :)

[2021-02-28 12:42] spier commented on #250
This is fully implemented now. Closing.

[2021-02-28 12:42] #250 closed, assigned to nobody

[2021-02-28 14:24] #299 closed, assigned to nobody

[2021-03-12 15:41] dterol23 opened #310 "New pattern around Source Code Inventory"
_Problem statement_: software, in particular source code as key company asset, is managed at enterprises with less care and rigorousness than other IT hardware inventories which diminishes the opportunities to maximize business value and control liability cost

_Thesis_: An unambiguous, complete, inexpensive, up-to-date, actionable inventory of Enterprise's source code repositories would be used i

[2021-03-12 15:42] dterol23 commented on #310
@spier I am planning to start working on this following our past conversations. I've started with the pattern template but I thought it might be good to share is as an issue to gain visibility and see if others are interested.

[2021-03-12 15:47] spier commented on #310
That's awesome @dterol23. If you like you can even post this ticket in the slack channel also, to see if other people have thought about this problem space in the context of InnerSource.

[2021-04-23 06:45] spier commented on #310
This pattern is now live at https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/patterns/1-initial/source-code-inventory.md. Great job @dterol23, and thanks for sharing this approach with the community.

I hope (and expect actually) that many companies are using this or a similar strategy.

[2021-04-23 06:45] #310 closed, assigned to nobody

[2021-04-23 19:06] spier commented on #224
We now have the option to do this with some support by built-in GitHub features. See screenshot:
![Screen Shot 2021-04-23 at 21 01 49 ](https://user-images.githubusercontent.com/163029/115918077-5770b600-a477-11eb-9ad7-0aa5a1edc7bc.JPG)

Things to consider:

* **people with access to this repo** (that are very few) have to change their local clones as shown in the screenshot
* **people with forks*

[2021-05-01 09:39] spier commented on #224
Will keep this open for a bit to do two things:

1. work in any feedback we receive from people with clones/forks of our repo
1. see what the gitbook Support team comes back with about the [issue with showing 2 variants](https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/324#issuecomment-830593138) in the gitbook

[2021-05-03 11:47] spier commented on #224
With help from the gitbook support team I got rid of the 2nd variant published.
So now the only one left is the one published from `main`, which is what we want.

[2021-05-03 11:47] spier commented on #224
I am opting to close this issue. Might reopen if we get any unexpected feedback from people with clones/forks of this repo.

[2021-05-03 11:47] #224 closed, assigned to nobody

[2021-06-13 06:05] spier opened #330 "Additions to the Standard Base Documentation pattern"
The information below might make for great additions to the [Standard Base Documentation](https://patterns.innersourcecommons.org/p/base-documentation) pattern.

----

I believe what I mean by setup is not only the who makes changes - but also how. Often in projects that are maintained locally in a single team there are many unwritten rules. When moving beyond the boundaries of a single team what

[2021-07-11 10:29] spier opened #336 "Using inclusive language in our patterns to make sure that everybody feels welcome"
I saw in another project that they were automatically checking the writing for inclusive language using the [in-solidarity-bot](https://github.com/jpoehnelt/in-solidarity-bot).
That seems like a great idea, and something that we should apply to our patterns to, in order to make sure that everybody feels welcome and motivated to contribute.

I don't know exactly how these work but this is what I fo

[2021-07-15 23:57] gyehuda opened #337 "Proposing the Incubator pattern."
Based on the description of the pattern https://www.linkedin.com/pulse/culture-behaviors-innersource-three-part-blog-series-3-gil-yehuda/ we are proposing the document and propose a new pattern. This is for teams that manage a centrally used software resource that other engineers at the company also have to use (e.g. UI components, build pipeline code, coding pattern that underlies a set of produc

[2021-07-17 08:45] spier commented on #337
I really like this proposal. Thank you for sharing it.

You mention in your post that the suggested **Incubator pattern** may have some overlap with other patterns, or that they may be complementary. That is completely fine, as patterns are meant to be used in combination with one another anyways. They are really a menu that people can choose from and adapt to their specific organization context.

[2021-07-19 22:12] gyehuda commented on #337
Thanks, please see https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/338 and we can discuss what we can do as a next step. I really appreciate the help and guidance.

[2021-07-22 07:04] fioddor commented on #337
The suggested _Incubator Pipeline_ pattern resembles the process ISC patterns go through, escalating through [maturity levels](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/e3abd84243e185a8e00529657fbb8f966c498019/meta/contributor-handbook.md).

If we can assimilate the ISC process for patterns as a particular application of this pattern, we could and ought to include _InnerSource

[2021-07-22 19:12] spier commented on #337
That's a great observation @fioddor!
One could indeed argue that the level 1 (Initial) of our maturity levels is a bit like an incubator. Once a pattern advances to the next level (2/structured) that pattern is considered mature enough to be published in our online book, while initial patterns are only published in this repo.

We would likely not list the ISC Patterns maturity level approach as a

[2021-07-23 08:57] spier commented on #337
I thought about this more and had a question for @gyehuda:
The UIC team in the story of your [blog post](https://www.linkedin.com/pulse/culture-behaviors-innersource-three-part-blog-series-3-gil-yehuda/) is building a **UI component library**.

Are you aware of any open source project, maybe even something related to such UI component libraries, that is using a similar an incubation process for co

[2021-07-23 18:23] gyehuda commented on #337
When describing the pattern, I was inspired by things like the Apache Software Foundation's incubator, as well as Linux Foundation's sandbox/incubator processes used in CNCF, CDF, and other open source foundations. Those help entire projects get into the foundation. In my open source work, I've found those to be very successful. They helped me raise the bar on projects that wanted to get more visi

[2021-07-24 11:12] gruetter commented on #288
Thanks for the nudge, @spier . I think community activation in a Hackathon-style event (not necessarily competitive) could be a pattern in its own right. That said, I'm not aware of any known instances (I'm sure they are out there, though). Some ideas for the pattern structure:

- What problem could a Hackathon solve?
   - Lack of community activation
   - Collaborators don't know each other perso

[2021-07-25 10:22] spier commented on #288
Thanks for sharing your thoughts on this @gruetter.

I don't think it is for me to judge if this could be a pattern or not.
If you say it can be, then it can be! :)

However from experience with previous patterns I can say that a pattern has a higher chance to mature to level 2 (structured), if there is one Known Instance at the time of writing up the first draft of the pattern.

Or said the other

[2021-08-08 16:29] spier commented on #336
@Michadelic I was wondering if you could share your experience with the in-solidarity-bot, assuming that you set it up for the project-portal-for-innersource?

Also any feedback about this issue here in general?
Specifically i am wondering if you think said bot could be useful for our patterns here?

[2021-08-08 16:38] spier opened #339 "When is the best point in time to apply markdown linting?"
I noticed that when a new pattern is contributed, often as level1-initial, our automatic markdown linter typically finds a lot of errors in the formatting of the new pattern.

For example see this [linter log](https://github.com/InnerSourceCommons/InnerSourcePatterns/runs/3268073659?check_suite_focus=true).

That also means that a new contributor might receive notifications about such linter error

[2021-08-08 16:41] spier commented on #339
@gyehuda as you have just opened your first PR with a new pattern, you have probably experienced this situation.
Would you mind sharing any feedback that you have related to the markdown linting and the (email) notifications related to this?

[2021-08-26 12:34] Michadelic commented on #336
Hi @spier, that does not ring a bell, i assume that was centrally set up for all SAP repositories by our OSS team.
I will ask my colleague @SebastianWolf-SAP about this and let you know.

In general, i think it's a useful tool for checking inclusive language, however there are only very few works/phrases checked. I think it would make sense to combine it with other tools to check for cursewords, t

[2021-08-26 13:21] SebastianWolf-SAP commented on #336
Yes, we enabled it for the complete SAP organization on GitHub. I was quite skeptical as it applies only simple regular expressions, but as it doesn't block any PRs or other contributions, it was worth a try. So far we haven't received that many reactions. Overall, the little feedback that we got was quite positive - however, we got some requests to enhance the configuration so that e.g. "masterda

[2021-08-27 17:46] spier commented on #336
Thanks for the extra info @SebastianWolf-SAP. I understand how it works now.

I just checked for the 7 default rules of the in-solidarity bot manually, and we don't have any offences to those in this repo yet.

I think @Michadelic's suggestion to combine this with something that looks for curse words as well sounds interesting.
Haven't looked for such a bot/tool yet but I am sure they are around.

[2021-08-28 12:25] spier opened #346 "Core Team Pattern - Improvement Ideas"
These are improvement ideas for the [Core Team](https://patterns.innersourcecommons.org/p/core-team) pattern, as first discussed in https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/345#issuecomment-906262562.

Hopefully the thread on this issue won't grow out of control, as multiple things are mentioned here. If it does, we can still split up this issue later.

## Improvement Ideas

[2021-08-28 13:32] spier commented on #346
@rrrutledge I am exploring visualization ideas. Curious to hear what you think. You should be able to comment and edit in the file:
https://docs.google.com/presentation/d/11JOByEO9QXlRLXX5BIv9rjUzPzCKErZzknD1OLcprQQ/edit#slide=id.p

[2021-08-29 15:42] spier commented on #162
I asked a question on the [markmap repo](https://github.com/gera2ld/markmap/issues/66) related to this.

While we could generate the input file (markdown) automatically, markmap doesn't have an option to turn that into a static file that we can embed in our book at https://patterns.innersourcecommons.org.

[2021-08-30 15:01] rrrutledge commented on #346
Great!  I will take a look this week sometime.

[2021-08-31 12:26] rrrutledge commented on #346
1.  Sounds good.
2.  Added a rough idea at a  visualization.

![image](https://user-images.githubusercontent.com/9609562/131502100-954896e1-823a-42fd-9393-eaef7ded4f42.png)

3.  Sounds good.

[2021-09-01 10:51] spier commented on #162
This particular issue has been implemented in #348

[2021-09-01 10:51] #162 closed, assigned to nobody

[2021-09-01 11:08] spier opened #349 "Show category+problem statement used in the mind map in the pattern as well"
This is a follow-up to the automation work done in #348 related to the pattern mind map.

Currently when a new pattern is written, the pattern author needs to add a reference of the new pattern to `pattern-categorization/innersource-program-mind-map.md`. Here is more [documentation](https://github.com/InnerSourceCommons/InnerSourcePatterns/tree/main/pattern-categorization) of how the mindmap gener

[2021-09-01 11:09] spier commented on #349
@fwan2000 it would be great to get your thoughts on both the problem description, as well as on the proposed solution or alternative solutions.

[2021-09-01 11:53] spier commented on #346
@rrrutledge I took your proposal and added some colors and stuff.
What do you think?

![core-team-visual](https://user-images.githubusercontent.com/163029/131666697-ccf1658e-9a25-44c6-a147-ac0ea2079932.png)

[2021-09-01 13:06] rrrutledge commented on #346
It looks great, and I think would be a value add for this pattern.  I'm glad that you brought it up.

Looking at the graphic again, I think it would be good to slide down the "Feature" boxes so that there is an equal amount of space between them and the top "Core" box as the other "Core" boxes have between one another.  This spacing makes it clear that the features are built on top of core and avo

[2021-09-01 15:51] spier commented on #346
Thanks for the feedback. That makes perfect sense.

Will adapt that and then add it to PR #347 for you to review.

[2021-09-02 09:03] #346 closed, assigned to nobody

[2021-09-07 14:22] fwan2000 commented on #349
@spier I like the proposed solution. It would simplify the pattern discovery. For the category+problem statement in a pattern MD file, would the category be an existing node in the mindmap and the problem statement to be created to link the pattern to the node? For example, the trusted committee pattern would have two entries: "cultural challenges"+"unrecognized effort",  "organizational challenge

[2021-09-08 16:19] spier opened #351 "Pattern idea: Scoring Grid"
Question from the Sept/2021 community call:

One idea proposed was a **scoring grid**, that would assign grades (from A-F) for each project based on vectors like:

* README.md
* CONTRIBUTING.md
* LICENSE
* PulL Requests
* CODEOWNERS
* CI

[2021-09-08 16:20] spier commented on #351
To start creating the pattern I would suggest these next steps:

1. take the [pattern template](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/meta/pattern-template.md) and copy the content into a new file e.g. "patterns/1-initial/scoring-grid.md"
1. start filling in the different sections based on the documentation in the template
1. [submit a PR](https://github.com/InnerSour

[2021-09-08 19:29] spier commented on #349
@fwan2000 I haven't thought through how this would work technically.
But let's toy with this.

We might have a new section called `## Category` that we add to the pattern file.
e.g. for the Trusted Committer pattern that category section might look like this:

This would effectively list everything from the current `innersource-program-mind-map.md` file, except for the pattern title itself, as we

[2021-09-10 12:36] fwan2000 commented on #349
@spier Looks good to me. Maybe we could have a validation on the number of nodes in each level to detect any changes that add new non-leaf nodes? Then we can just manually validate those scenarios?

[2021-09-10 15:31] spier commented on #349
I am thinking about the metadata structure for the implementation of the mindmap generator already.
Probably solutioning too early but anyways :)

Pseudo `mindmap.yaml` below:

[code]

[2021-09-13 11:59] spier opened #355 "Naming of the Service vs. Library pattern"
While discussing some improvements to the [Service vs. Library](https://patterns.innersourcecommons.org/p/service-vs-library) pattern (details in #353), @robtuley and I spoke about the naming of the pattern. Would a different name make it easier for the readers to understand the pattern?

Repeating some info from the PR below.

From me (@spier):

From @robtuley:

[2021-09-13 12:08] spier commented on #355
@robtuley while writing up this issue, I re-read the Palet again.

Below I am repeating and formatting the Patlet a bit differently, to show what I mean more clearly:

So maybe I misunderstood this pattern all this time.
Does this pattern in fact propose **two separate solutions** for the same problem?
I don't see a clear distinction between these two in the Solutions section, so maybe that's wher

[2021-09-13 22:11] robtuley commented on #355
I see what you mean... and that is indeed 2 different ways to approach the same underlying problem. I guess it comes down to how different these 2 approaches really are -- if they are different enough it is probably 2 patterns; if it is more of a implementation detail about the engineering practices in different orgs it should be kept together?

In my own view these are 2 different patterns that c

[2021-09-14 00:08] jsampson1 commented on #355
Hi folks, I'm new to the community and want to chime in here because "Service vs. Library" stood out to me as a confusing title when I was reading through all the patterns. I agree that Sebastian's "Separate Service Deployments" is a clearer title for the pattern that the page focuses on. Building on Rob's "things," though, I wonder if there are a few orthogonal concerns entangled here: "how the t

[2021-09-14 08:09] spier commented on #355
In my understanding a Pattern describes "a solution to a problem". I think it could also be multiple solutions for the same problem? Maybe @NewMexicoKid can help us out with his knowledge on pattern semantics here?

The problem that the current pattern is looking to solve:

If I were to rephrase that I might say:

In that sense the **library approach** gets rid of this issue in an obvious way. A l

[2021-09-14 15:29] jsampson1 commented on #355
That's a very nice problem statement. There are perhaps still two sides to it: A receiving team may want to accept contributions without being responsible for the contributing team's service reliability and resources; or a receiving team may want to reuse a service without relying on the host team for service reliability and resources.

There's an interesting interplay between this and 30 Day Warr

[2021-09-14 16:55] robtuley commented on #355
I'm following this thought with some interest as it's helping me understand what a pattern is. In my mind it was the other way round: a pattern is a solution that would address at least one but possibly many problems.

i.e.

- "do this", it is known to help with x, y and z.
- or if I had a problem, there might be a few different options ("patterns") of how to solve it.

[2021-09-15 18:22] spier opened #356 "Discover patterns by different names"
Some of our patterns are known by different names ("Titles" to be precise).

For example the [Dedicated Community Leader](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/2-structured/dedicated-community-leader.md) is also known by as "Dedicated Community Manager".

It would be nice if readers of our book could find the pattern, no matter which name they are searching f

[2021-09-16 11:38] lenucksi commented on #351
The TODOGroup has the good old repolinter for that.  One can and should safely recycle or extend that one. Valid point and effort I've seen myself too.

[2021-09-21 16:22] spier commented on #355
@robtuley I think it depends on how big or small you define the scope of the problem.

The risk for any pattern is for it to become too big. In the worst case the scope grows towards solving "how to do InnerSource". Therefore I think that a pattern is easier to implement, when it is focused on a specific relatively small problem. As an analogy, you could think about this similarly to a user story

[2021-09-30 07:43] spier opened #363 "Extract "Code Strategy Assessment Framework" into its own pattern"
The [Unified Source Code Inventory](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/source-code-inventory.md) mentions the concept of a [Source Code Strategy Assessment Framework](https://github.com/trieshard/source-strategy-assessment).

I believe that such a framework could be useful even for companies that are only using a single version control system, an

[2021-09-30 07:45] spier commented on #363
@dterol23 what do you think about this idea, given that you contributed the Unified Source Code Inventory including the Source Code Strategy Assessment Framework?

[2021-10-01 16:44] dterol23 commented on #363
Hi @spier, yes, you might be right. I.e. This is the value proposition we pursue as part of the assessment:

Outsider assessment-type feedback on actual InnerSource repositories support practitioners to climb the maturity ladder through continuous improvement.

Maturity ladder is another concept we use where teams/organizations go through 5 levels of maturity (from source inventory to community) s

[2021-10-05 08:28] arlou opened #364 "Question about training and processess mentioned in pattern: "change-the-developers-mindset.md""
Hello,
    [In the section of Forces](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/change-the-developers-mindset.md), 2 forces listed below are mentioned.
- No formal training exists.
- Processes are not clearly defined.

    I'd like to know what the "training" and "processes" referred to?
    Does "training " refer to the training about the shared reposi

[2021-10-05 12:14] spier commented on #364
Thanks for raising this question @arlou!

This pattern draft was created at an InnerSource Summit in 2017, so quite some time ago.
Unfortunately we don't have an author listed on the pattern either.
So we don't have anybody to reach out to directly.

Would you mind raising this question in Slack as well, maybe with a link to your issue here?

[2021-10-19 19:51] 3cpt opened #366 "InnerSourceCommons as home for repository activity score implementations"
Hi all.
I am implementing the [Repository Activity Score algorithm in Python](https://github.com/3cpt/repo-score-py/blob/main/src/repo_score/score.py), and I was thinking if it makes sense to create the repository inside `InnerSourceCommons` organization.

With this, the ownership - repo and package registry - it's part of the `InnerSourceCommons`. I can be maintainer, add other implementations -

[2021-10-23 10:43] spier commented on #366
Just quickly letting you know that I have seen this @3cpt.
Great to hear that you will be implementing the activity score.

Keeping the code within the umbrella of the InnerSource Commons is an interesting idea for sure.
Let me check with other members of the InnerSource Commons what they think about this.

[2021-10-24 09:56] spier commented on #366
@3cpt I just took a look at your `repo-score-py` repo.

If we add these implementations to the InnerSourceCommons org, was your idea to have a single repo that contains sub-folders for the different languages?

e.g. repo: `https://github.com/InnerSourceCommons/repo-activity-score`
with folders
[code]

[2021-10-25 13:13] 3cpt commented on #366
@spier looks good to me.

It simplifies some integration test that could be done between multiple languages.
My only concern is about packaging using Actions for the different package registries.

[2021-10-25 13:36] spier commented on #366
In which language will you actually use the activity score calculator yourself? I am assuming that you are putting an InnerSource Portal or similar together, in which you will be using the score?

Is it Python (as that's the implementation that you already have)?

I am wondering about this as we could potentially port your existing python repo into the InnerSourceCommons org, and then add to the R

[2021-10-26 14:59] 3cpt commented on #366
I'm implementing it in Python because I want to use it in my personal project [(recorrente)](https://github.com/3cpt/recorrente), also I want to integrate in https://github.com/zkoppert/innersource-crawler/issues/17 because of the InnerSource Portal.
And I have plans to use it in an internal metric system, but probably in JavaScript - that is just copy & paste from the pattern page.

Your idea abo

[2021-10-27 08:42] spier commented on #366
Sounds good @3cpt.
So let's move the repo over to the InnerSourceCommons, and try how that works out for this project.

Would you mind renaming your repo to `repo-activity-score` before the transfer?
That makes it more clear what the score is about (activity), and leaves us more breathing room to add implementations for other languages to the repo later.

For the transfer itself you have something

[2021-10-27 16:07] spier commented on #366
I am just reading up on how to [transfer repos](https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository#repository-transfers-and-organizations):

So likely what I proposed above will not work (but please try it).

If it doesn't work as described above, we can still get it done like this:
- transfer the repo to me (@spier)
- I will transfer it into the o

[2021-10-28 22:00] 3cpt commented on #366
I hope that the process occurs without problems. I already used Transfer sometimes, and the behavior sometimes is discussible.

[2021-10-28 22:07] 3cpt commented on #366
@spier, thinking and preparing the next steps. What about PyPi (or other package registry)? The ISC has an account?
I need that someone with power to it add a Secret to the repo with a [PyPi](https://pypi.org/) API token. Example: `PYPI_TOKEN`.

Also, for something more synchronous, you can contact me in the ISC Slack - `@andre`

[2021-10-29 08:31] spier commented on #366
Status: Repo migrated to https://github.com/InnerSourceCommons/repo-activity-score
Now setting up permissions and all for @3cpt.

I will close this issue here once I am done with the permissions.

[2021-10-30 19:10] spier commented on #366
Setup is done. Work on this topic is continuing in repo https://github.com/InnerSourceCommons/repo-activity-score

[2021-10-30 19:10] #366 closed, assigned to nobody

[2021-11-17 15:36] dicortazar opened #367 "Pattern idea: Operational Model for InnerSource"
This issue opens the discussion about the need for an InnerSource operational model. This is based on past authors experiences.

The following is a draft of the pattern to move this forward as a PR.

InnerSource Operational Model

## Title

InnerSource Operational Model

## Patlet

InnerSource is key across all of the software production chain. This includes from idea to delivery to customer. This

[2021-11-18 15:24] spier commented on #367
Hi @dicortazar. How would you prefer to move this forward?

e.g.
a) would you like others to provide feedback here on the issue? or
b) do you want to convert this into a PR to receive the feedback there (likely on a more granular level then).

Personally I suggest to do (a) first, to see what people thing about the idea of such a pattern.

[2021-11-21 14:20] spier opened #369 "Pattern idea: Secure InnerSource"
A question came up in Slack about how to practice InnerSource in a secure way.

I am summarizing the conversation here, removing any names of people/companies to comply with Chatham House Rule.

The question was:

## Naming ideas for a possible pattern

* Secure InnerSource
* Security and InnerSource
* Satisfying Security Concerns
* Addressing Security Concerns
* Security Concerns and Mitigation
*

[2021-11-23 08:11] mishari commented on #367
Hi @dicortazar I would like to propose "Develop" instead of "Build" when I see "Build" I automatically start thinking of CI/CD, this can cause some confusion.

Yes I'm aware that it's part of the SDLC, but I think Develop works better :-)

[2021-11-24 19:49] spier commented on #369
### Solution 1 - RBC

_(not from the Slack conversation)_

This talk from GitHub Universe 2021 is mentioning this topic:
[Making InnerSource & Developer Experience Real at one of Canada's Top 5 Banks](https://www.youtube.com/watch?v=QbJ4VFk8DwA) - by Anthony Vacca, Sr. Director, OSPO & Developer Experience

They could not make all repositories public inside of RBC (i.e. they could not make them al

[2021-11-24 19:56] spier commented on #369
### Solution 2

That is usually a concern, and here is where InnerSource has a trade off.

To mitigate and reduce the risks what you could do:
1. Eliminate anonymous access to source code (all users must be logged in to your Source Code Management tool), log the access to repositories
2. Keep the repositories private, but expose metadata on the projects (i.e. through a portal), and create some kin

[2021-11-24 20:04] spier commented on #369
### Solution 3

We differentiate between multiple sharing levels depending on the nature of the code in the repository:
* open source
* inner source
* restricted source

For restricted source, we use a tool that automatically adds the `README.md` and some other meta data to an internal repository in GitHub, allowing the GitHub search feature to include this data in the search results. _Note: This

[2021-11-24 20:52] spier commented on #369
### Solution 4

Our company just started an InnerSource experiment recently.
Below are our practices to mitigate the concerns of the security team:

1. Invite the security team to the task force (InnerSource Program office or similar) to work out secured InnerSource adoption plan/checklist
2. Collect real cases from industry leaders about how they mitigate the security concerns to learn from them

[2021-11-24 21:25] bartgolsteijn commented on #369
How about _Addressing Security Concerns_ as title?

[2021-11-24 21:30] spier commented on #369
Also nice! I added it to the list above.

When turning this into a pattern, we can use any of these as a working title to begin with. Then when the pattern is ready, we can reevaluate and change the title, depending on what fits the content of the pattern best.

Would that approach work?

[2021-11-26 17:23] lenucksi commented on #369
A lot of what I see here is basic good software engineering practices, such as "don't have unprotected secrets in repos".
Another part of open/innersource/restricted with a very good reason including "try hard to fix the reasons for restriction" I have seen in working already.
And I find the inclusion of checks into CI/CD pipelines and the inclusion of the security experts early on to be a good id

[2021-11-26 19:37] spier commented on #369
Thanks for the input @lenucksi .

What did you mean by the sentence below? I think there is some word missing.

[2021-12-02 04:54] mishari opened #370 "Pattern Idea: Truth and Reconcilliation pattern"
Often when teams are working in an insular manner, code quality is not up to par, leading to a hesitancy in opening up their code. Other times, there are issues regarding configuration and abstraction, with no clear separation between code and secrets such as deployment keys. There are also sometimes issues regarding compliance which may have been lax in the past.

At times bad code quality, polic

[2021-12-02 05:19] mishari opened #371 "Pattern Idea: Hive mind"
This pattern proposal illustrates exactly what I'm trying to describe.

Often in corporations, there's a strong need to release a finished idea into the open. But here in the InnerSource Commons, even a vague intuition can be expressed, with others in the community contributing to help make it whole, or discrediting it.

When implementing InnerSource or even open source, one should be encouraged t

[2021-12-02 07:55] spier commented on #370
hi @mishari. Thanks for sharing the idea.

Certainly a strong title already :)

Have you seen any company practicing a pattern like this? If you could bring anybody from such a company along with you to co-author this pattern, that would make for an even stronger case.

Also what would be one example of a policy that can help to create such a blameless and safe space?

I have a hard time imagining

[2021-12-02 08:01] spier commented on #371
What would be examples of "open up early" in the software development process?

On a single-repo-level, here some things I can think of (but not sure if that is what you are after):
* creating an issue on a repo, describing an idea for how to fix a problem or implement a feature (without a strong attachment to an exact implementation, and also without a commitment to actually do it i.e. just explo

[2021-12-10 12:06] gruetter opened #372 "Add InnerSource Principles as example to explicit-innersource-principles"
Similar to what @MaineC reported for Europace in the [explicit-innersource-principles Pattern](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/explicit-innersource-principles.md), we at Bosch also used a set of principles to guide our work.

- [x] Explain why Bosch adopted InnerSource in _Known Instances_ section
- [x] Explain which principles we had and how

[2021-12-10 17:08] #372 closed, assigned to gruetter

[2021-12-10 22:12] spier commented on #226
Found one of the patterns mentioned above:
https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/not-invented-here.md

[2021-12-10 22:27] spier commented on #37
I closed the associated PR, and linked to this issue from the pattern itself.
So if somebody wants to look up how the pattern was created, they can.
Closing this issue.

[2021-12-10 22:27] #37 closed, assigned to nobody

[2021-12-11 08:58] spier commented on #226
I found a gDoc called [Fearing Contributions](https://docs.google.com/document/d/1D0vghmh-MZ-bVASrH1yGqRPP-ODvlUYOtfG_LAJp2BE/edit) however I am not sure if that is really a new pattern or an early version of the **Reluctance to accept contributions** pattern. That is actually the doc that references these patterns:

Then there is a 2nd gDoc [Reluctance to receive contributions](https://docs.googl

[2021-12-13 16:24] obuzek commented on #371
This is especially fascinating to me because we've used the same term - "hive mind" - to describe a different kind of behavior.

We've been using "hive mind" to express what a repository looks like that has careful quality standards put in place, such that the code that collectively gets written looks like it's been written by a hive mind.

[2021-12-14 06:21] spier commented on #118
@dineshdh I just found this PR again, and was wondering if you have made further experiences with this "hygiene approach" in your InnerSource practice?

[2021-12-14 06:22] spier commented on #117
@tsadler1988 given the conversations in this issue, do you have a preferred path forward?

Options that I can think of right now:
1. Adding a bit more info about SAP's approach with the `innersource.json` file to the [InnerSource Portal Pattern](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/2-structured/innersource-portal.md)
2. Creating a new pattern just around rel

[2021-12-14 06:24] spier commented on #117
Also FYI this is the latest [syntax definition](https://github.com/SAP/project-portal-for-innersource/blob/main/docs/LISTING.md#syntax-definition-of-innersourcejson) of SAP's `innersource.json` file.

[2021-12-14 07:25] spier commented on #77
@NewMexicoKid I wondering if this discussion here would lead more to an anti-pattern, than a pattern?

[2021-12-14 09:10] spier commented on #137
I am opting against doing anything automatic for now, as the number of issues/PRs is fairly limited.

Instead we should rather try to engage with the people that opening PRs/issues more frequently on a human-to-human level, to see if we can help them see their things through to completion.

Closing this issue but of course happy to revisit this as things change.

[2021-12-14 09:10] #137 closed, assigned to maxcapraro

[2021-12-14 09:16] spier commented on #371
This sounds interesting @obuzek. Are there any particular practices that are impactful in trying to achieve that "code looks like it was built by a hive mind" state? I am also wondering what the dark label of this approach is i.e. when do the quality standards become so rigid/strict that new outside contributors are overwhelmed by the amount of checks and rules, making it harder to make InnerSourc

[2021-12-14 09:30] spier commented on #367
@dicortazar after reading your pattern again, it reminds me more and more our [Mindmap](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/pattern-categorization/innersource-program-mind-map.png).

That mindmap structures all available patterns along the path that an InnerSource Program in an org might take (e.g. Begin => Adoption => Grow => Scale).

Your pattern here groups the p

[2021-12-14 09:44] meswapnilk commented on #370
@spier A classic case where this pattern is useful is in an organization **with multiple business units or multiple independent silos.** The hesitancy could be due to the understanding of **certain known issues/concerns** which could create impediment in release or later during use or it could be **due to something legacy which has no ownership or maintainers**.

@mishari Having the culture which

[2021-12-14 09:55] mishari commented on #370
@spier I've seen bits and pieces, of this kind of policy taking place over the years under isolated circumstances so there's no specific person I can bring in to help with this pattern. You're right in observing that it often happens under a change of leadership but also when an organization may be ready to reach the next phase of their evolution.

When I coach my clients for example I often see h

[2021-12-14 10:05] mishari commented on #371
@spier I think all of the above, but also have a mailing list where one can discuss ideas. Several people I've spoken to in the InnerSource Slack Donut who were involved in bringing InnerSource to their organization seemed excited when I suggested to them that instead of looking for ways forward by themselves, they should just ask their respective communities for suggestions on how to move forward

[2021-12-14 15:03] NewMexicoKid commented on #77
I think this is more of a pattern than an anti-pattern; or it might (at this stage) be more of a donut pattern exercise, since I don't believe that we had ever gotten to the point of having a solution to the "lip service IS" problem.
That is, the state of having "lip service IS" is the starting context and not where one wants to stay. Probably having an interactive session with experts could tease

[2021-12-15 06:57] spier commented on #77
I like the idea of using this as a Donut exercise. Maybe something to try out next year.
Will keep the issue open, to remember the idea in the future.

[2021-12-15 07:00] spier commented on #371
I see. So the pattern might be a way to motivate people in an org to "ask for help" in a way.
And yes, I can imagine that this is a behavior that might need training and culture change, if it isn't there naturally.

[2021-12-15 07:05] spier commented on #370
Starts to remind me of [blameless postmortems](https://sre.google/sre-book/postmortem-culture/).

In any case, with your last list of policies/ideas to solve for this problem you almost have enough content for a pattern draft already. Just a bit more info about **Context** (where does this exist) and **Forces** (what makes this difficult) and you got yourself an initial pattern.

Go for it 🚀

[2021-12-15 07:22] claredillon opened #375 "Pattern Idea: Transitioning Contractor Code to InnerSource Model"
The following pattern idea emerged from a conversation around how to handle contractors as part of the InnerSource process.

## Title
Transitioning Contractor Code to InnerSource Model

## Patlet
Contract developers are often not motivated to engage in InnerSource activities, which may be beyond the scope of their contract. This patlet describes how you can focus on transitioning the contractor pr

[2021-12-15 07:27] claredillon opened #376 "Pattern Idea: InnerSource Contractor Model Terms"
## Title
InnerSource Contractor Model Terms

## Patlet
Contract developers are often not motivated to engage in InnerSource activities. This patlet includes some terms which could be included in their initial contract to ensure engagement in the InnerSource process.

## Problem
Contractor developers are often not motivated (through forces described below) to not engage in InnerSource activities. O

[2022-01-10 04:52] mishari commented on #369
When talking about security, it's useful to frame discussions around confidentiality (maintaining secrets), integrity (no unauthorised changes), and resiliency/availability and the wording of the pattern should address these issues specifically.

My 2c on this pattern:
1. See how GitLab processes [non public information](https://about.gitlab.com/handbook/communication/#not-public)   [handling sens

[2022-01-10 08:20] spier commented on #369
Good idea to explain more specifically what is meant when we say "secure" @mishari!

I think we might have a first version of this pattern ready soon, that we can share as a PR.
Let's work in your input then.

[2022-01-22 10:42] #369 closed, assigned to nobody

[2022-01-22 12:52] spier commented on #369
hi @mishari . I just remembered [your comment](https://github.com/InnerSourceCommons/InnerSourcePatterns/issues/369#issuecomment-1008543045) above about this pattern.

We have not fully worked in your feedback into the pattern yet.
As a matter of fact, I think we have only integrated point (2).

For your description of how GitLab is approaching this topic, we could try to get somebody from GitLab

[2022-01-24 07:49] spier commented on #170
A first version of a glossary is now available in https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/meta/glossary.md.

I suggest that we improve the glossary incrementally, as we review further patterns, rather than keeping this open as a separate issue.

[2022-01-24 07:49] #170 closed, assigned to maxcapraro

[2022-01-24 07:49] spier commented on #171
A Basic style guide is now available at
https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/meta/pattern-style-guide.md

[2022-01-24 07:49] #171 closed, assigned to maxcapraro

[2022-02-08 13:14] jsmanrique opened #386 "Missing patterns related to Common Requirements pattern"
Reading the "[Common Requirements](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/2-structured/common-requirements.md)" pattern I've found there are a couple of patterns mentioned as "pattern to be written", but I haven't found any additional information about them.

The missing patterns seem to be related to the initial and resulting context of the Common Requirement

[2022-02-08 16:37] spier commented on #386
Great catch @jsmanrique!

Based on the [requirements](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/meta/contributor-handbook.md#requirements-level-2---structured) that we are applying on patterns today, this pattern should be in maturity level "Structured". If we were to write this pattern today, we would keep it in "Initial" i.e. we would not publish it to the book until th

[2022-02-08 16:47] spier commented on #386
I found the PR in which this pattern was first created:
https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/11

That PR also contains a mention of "PLoP 2017", which I assume might have been an in-person event of the group at which the pattern was written.

Still looking for more ...

[2022-02-08 16:57] spier commented on #386
When we re-orgnized the files in our repo the pattern file `common-requirements.md` was moved (without doing much change to the content itself).

Here history for `common-requirements.md` [before moving the file](https://github.com/InnerSourceCommons/InnerSourcePatterns/commits/82061e3cb02acab3806a512a1fec42c6484765f9/common-requirements.md).

[2022-02-08 20:48] spier commented on #386
Actually, after reading the pattern again, I am not quite sure why it is even in **Level 2 - Structured** in the first place.
It doesn't have a "Known Instance", i.e. no organization/company has confirmed that they are using this pattern.

So in theory we should move the pattern back to **Level 1 - Initial**, and with that un-publish the pattern from our book (i.e. the link `https://patterns.inner

[2022-02-08 21:55] NewMexicoKid commented on #386
There are some notes in the innersource-commons google group (e.g., [2016-12-07](https://groups.google.com/g/innersource-commons/c/iK6N-XKfWFY/m/hTocqfzxDAAJ) and [2017-07-18](https://groups.google.com/g/innersource-commons/c/YzkzqF-h50w/m/lp1eCQBgAgAJ)).

Common Requirements was primarily authored by Bob Hanmer; although it was unstated directly in the pattern, I believe this was based on his exp

[2022-02-09 07:09] spier commented on #386
@NewMexicoKid to the rescue!
Thanks for the pointers, we will check those out.

Do you have any other recollection of these to-be-written patterns that the pattern points to?

Quoting directly from [Common Requirements](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/2-structured/common-requirements.md):

- `Strong Code Owner [pattern to be written]`
- `Benevolent Spon

[2022-02-09 22:08] NewMexicoKid commented on #386
My only memory of the discussion was from the notes (which largely are stated in the pattern). A Strong Code Owner is a pattern where all changes to a shared repository have to be approved by the repo owner (vs. Weak code ownership where no one really owns the code).

The circular story writing exercise is also described pretty fully in the pattern:
*A related pattern (to be written) is a circular

[2022-02-10 10:28] spier commented on #386
Great extra info. Thanks Tim!

I will try to remove the placeholders in the pattern, by working in some of this info.
Hope I don't change the intended meaning of the pattern.

Btw do you know if the original author of the pattern might still be available for doing a review of the changes we are making?

[2022-02-10 10:46] jsmanrique commented on #386
Thank you @NewMexicoKid !

I like the approach you propose @spier

[2022-02-14 12:06] spier commented on #386
As the placeholders were inserted in the pattern many years long ago, we have not easy way of writing those missing patterns.
Therefore we opted to replacing the placeholders with more description of the respective points inline in the pattern. See #388

With that I am closing this issue but by all means open a new one if you find more issues with this pattern.
Thanks for your help!

[2022-02-14 12:06] #386 closed, assigned to nobody

[2022-02-14 12:12] spier opened #389 "Improving the "Common Requirements" pattern"
Some ideas for improving the [Common Requirements](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/2-structured/common-requirements.md) pattern:

- Improve the **Patlet** - escpecially describe how the Solution is improving upon the Problem
- Break up **Forces** into bullets - so that readers can check more easily if these forces apply in their orgs as well
- Decide wh

[2022-02-18 18:41] spier opened #392 "InnerSource @ DAZN | "Building A DX Team: Lessons Learned""
This post from DAZN Engineering contains various stories that could be cross-referenced with existing patterns:
https://medium.com/dazn-tech/building-a-dx-team-lessons-learned-4a66446088bc

There are other posts from DAZN as well that may be related e.g.
https://medium.com/dazn-tech/developer-experience-dx-at-dazn-e6de9a0208d2
https://medium.com/@nodefortytwo/what-is-platform-engineering-a6e8bff1d

[2022-02-18 20:55] spier opened #393 "InnerSource @ Intuit | InnerSource Repository Scanner"
The project description of https://github.com/intuit/innersource-scanner is:

I am wondering if this idea represents an entirely new pattern, or if it is tooling that might any of the existing patterns?

Might be related to [Standard Base Documentation](https://patterns.innersourcecommons.org/p/base-documentation) or  [Good First Project](https://github.com/InnerSourceCommons/InnerSourcePatterns/b

[2022-02-19 07:23] spier opened #394 "InnerSource @ Zalando | innersource-howto"
Zalando has published some tips about InnerSource on this public page:
https://opensource.zalando.com/docs/resources/innersource-howto/ (see [source](https://github.com/zalando/zalando.github.io))

There are further mentions of InnerSource at Zalando from as early as 2016 here:
* https://engineering.zalando.com/tags/innersource.html
* https://opensource.zalando.com/blog/2018/09/strengthens-innerso

[2022-02-19 18:42] spier opened #395 "InnerSource @ Flutter Entertainment | innersource.flutter.com"
The Flutter Entertainment InnerSource community is publishing information at
https://innersource.flutter.com/

It contains a lot of great InnerSource content, some of which we hope to distill into patterns in the future for the greater benefit of the InnerSource Commons community.

Examples of topics that sound interesting (I am sure there is more!):

* **community**  - The community of a reposito

[2022-02-21 13:12] lenucksi commented on #394
@hpdang knows more here.

[2022-02-21 13:13] lenucksi commented on #393
Generic todogroup repolinter tooling probably helps here. Overlap would be interesting.

[2022-02-21 13:21] hpdang commented on #394
@lenucksi yes I can help but I'm not sure what is required in this ticket.

[2022-02-21 13:21] spier commented on #393
Thanks. Do you have a link for that todogroup repolinter?

[2022-02-21 13:27] spier commented on #394
@hpdang thanks for the quick reply, and nice to meet you.

This ticket is about figuring out what the latest status of InnerSource practices at Zalando is, given that the resources linked to above are pretty old.

From there we could see if extracting some InnerSource patterns out of Zalando's experience would be possible. We would then share those patterns in this repo and also at https://pattern

[2022-02-22 18:26] loujaybee commented on #392
CC: @cirpo / @nodefortytwo

[2022-02-23 09:19] hunter commented on #392
The manifest idea from the first post might be an other interesting pattern. My team has talked about a similar idea for a machine readable document to describe a project (including Innersource related data/metadata)

[2022-02-23 10:22] spier commented on #392
Nice one @hunter!

What metadata would you keep in such a metadata file?
Would be great to hear more about your use case.

From the [post](https://medium.com/dazn-tech/building-a-dx-team-lessons-learned-4a66446088bc):

From a patterns perspective, we have mentioned this idea as part of the [InnerSource Portal](https://patterns.innersourcecommons.org/p/innersource-portal) pattern. However it might

[2022-02-23 11:20] nodefortytwo commented on #392
Hey, nice to see some interest in our manifest file.

I have created a public gist of the current version of the RFC that defines the dazn-manifest.yml. obviously, there is plenty of stuff in here that is specific to DAZN and our internal tooling, and you can see by the SemVer we have been through quite a number of iterations.

[RFC](https://gist.github.com/nodefortytwo/05f9703822160d2e983c4362ae3

[2022-02-23 17:32] spier commented on #392
Very cool @nodefortytwo. Thanks for sharing this!

I need to look through the InnerSource-specific fields of your manifest more thoroughly.

In the meantime, can you share more about what the main purpose of that metadata for your org is?
e.g. is it mainly discoverability of projects, or do you have other secondary goals in mind as well?

Also I am curious what the stats are on InnerSource project

[2022-02-24 11:24] petetanton commented on #392
Hi @spier - at DAZN, we use the Manifest for several things (here is a quick summary):

- Identifying which team owns the repo (and thus any thing else defined in the Manifest)
- Registering services and systems (where a service is a "single deployable thing" and a system can contain one or more services)
- Registering dependencies between services (sync, async, retries etc)
- Defining support con

[2022-02-24 13:41] hunter commented on #393
I assume this is this one? https://github.com/todogroup/repolinter

Likely some overlap with the OpenSSF's [scorecard project](https://github.com/ossf/scorecard) too

[2022-02-26 08:19] spier commented on #393
FYI I brought this discussion over to the `innersource-scanner` repo, as I figured it might be easier to reach their community there to learn more about the project. See https://github.com/intuit/innersource-scanner/discussions/12

[2022-03-07 07:10] spier commented on #392
That is great extra info @petetanton.

Do you have stats on how many InnerSource "things" you have per distribution-method? I am curious if there is a story in there about what types are more likely or less likely to be shared as InnerSource?

For the point about "Identifying which team owns the repo":

This is a problem that we facing as well in my org, and from conversations I believe that many

[2022-03-28 12:41] petetanton commented on #392
Hi @spier - sorry for my slow response!
For stats on inner source projects, they are as follows:
   1 Browser Extension
   3 CLI
  45 Cloud Infrastructure
   7 Document
  10 Drone Plugin   (we are moving away from Drone so I suspect this will be replaced with GHA soon)
  19 GitHub
   7 Go Module
 108 NPM
  13 Web App

With team ownership, we consider the Manifest to be the source of truth. It then

[2022-04-02 10:54] spier commented on #367
@dicortazar how should we proceed with this?

How would this information best be presented, so that it becomes the most useful and easy for readers to consume? Could be as a
1. Pattern
2. Mindmap (a new one)
3. Completely differently

Thoughts?

[2022-04-15 20:19] spier opened #406 "Pattern extraction | Learning By Lurking"
The blog post [Learning By Lurking](https://www.netmeister.org/blog/learning-by-lurking.html) describes an approach to creating a learning culture in an organization, that reminds us of some of the ideas of InnerSource.

There are also some [conversations](https://twitter.com/ultrazool/status/1513202555370852358) on twitter about this.

Maybe this is a pattern? However it might be too generic to b

[2022-04-15 22:02] NewMexicoKid commented on #406
Learning by Lurking looks like two separate patterns:

- Learning by Lurking (a way for potential InnerSource contributors to gain knowledge about the software and on how to contribute to the project, especially valuable when (a) they might be inexperienced and (b) the project members are very busy)
- Supporting Learning by Lurking (a way for busy IS projects to encourage new contributors while pr

[2022-04-17 09:39] spier commented on #406
Thanks for the input @NewMexicoKid. Also great to know that others are reading these issues :)
In a funny way these issues are my invitation to "learn by lurking" aren't they? 🤯

[2022-04-18 13:57] spier commented on #406
Summary of the blog post for "Supporting Lurkers".

### Communications

- Resist "Let me DM you"
- Use private channels sparingly, as they tend to create and reinforce "us" vs "them" boundaries
- Follow up on unanswered questions, **including your own**

### Documentation

- Take note of frequently asked questions and add them to your documentation.
- Explain the obvious.
- Should a question lead

[2022-04-18 14:03] spier commented on #406
We have two patterns already that are using the word "lurk". Those might be related to the idea that we are exploring here:

- https://patterns.innersourcecommons.org/p/communication-tooling#resulting-context
- https://patterns.innersourcecommons.org/p/issue-tracker#resulting-context

Would be great to hear @MaineC's thoughts on this, as she wrote those patterns.

[2022-04-25 13:02] spier commented on #276
I am just adding a sketch image to this pattern via https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/407

[2022-05-02 08:43] MaineC opened #410 "Pattern idea: "Contribution negotiation""
In reading through some of the patterns in the initial phase in the "[reluctance to accept contributions](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/reluctance-to-accept-contributions.md)" I came across a cross reference to a pattern idea that I found interesting:

"Contribution negotiation"

The solutions discussed in "[Reluctance to Accept Contribution

[2022-05-04 08:17] lenucksi commented on #410
Fully agree that we already have this in the learning path. Depending on the size of the contribution its also a common Open Source pattern. It could also fit in nicely with make Agile and InnerSource cooperate, as highlighted and practiced by @rrrutledge repeatedly.
What - given the nature of organizations and their inbuilt desire to plan the unplannable -  should be highlighted as a detrimental

[2022-05-04 08:33] spier commented on #410
@MaineC thank you for exploring this idea here.

I edited your post and added some links to the material that you are referencing, to make it easier for other people to follow the conversation.

I believe I got all links right but would you mind checking?

[2022-05-04 11:32] MaineC commented on #410
@spier the links you added look complete and seem to be the right ones.

[2022-05-04 11:49] MaineC commented on #410
https://mahout.apache.org/developers/how-to-contribute ... "Before you start, you should send a message to the [Mahout developer mailing list](https://mahout.apache.org/general/mailing-lists,-irc-and-archives.html) (note: you have to subscribe before you can post), or file a ticket in our [issue tracker](https://mahout.apache.org/developers/issue-tracker.html). Describe your proposed changes and c

[2022-05-12 16:31] rrrutledge commented on #410
I think I've just talked verbally in calls I've been on.

[2022-05-18 09:15] allthedoll commented on #406
I want to add some anecdotal experience to this: @selkins13 and I worked with an organization for which we hosted open office hours to come ask us any questions. While some people prefer async, and we should default to it when and where possible, some prefer speaking with humans in real time--very similar in attempting to reach a human instead of pressing buttons for a computer during a phone call

[2022-05-18 10:47] spier commented on #406
That's a great story @allthedoll. Thanks for sharing.

The "listening in to a real conversation of others" is an interesting variant of lurking, and not one that I would think of immediately. It makes perfect sense though. I can confirm that behavior in video/voice calls from a recent internal unconference that we did at our org, where there was also always a subsection of people "just lurking".

[2022-05-21 09:21] spier commented on #392
@petetanton thanks for the stats above.
Now I noticed that some of the stats also show up in the [screenshots](https://miro.medium.com/max/1400/1*SW3LC3pyq3LYDtgGOHnTNg.png) in DAZNs blog posts :)

One other question:

I guess the reason for defining your own `dazn-manifest.yml` was to be independent of any specific tool and vendor?
Or maybe you already had that in place before you started using B

[2022-05-22 21:07] spier commented on #367
@dicortazar @fioddor I am creating a PR for this issue now, as a way for me and others to ask questions about specific parts of the pattern. The eventual goal of this being to merge this as an Initial pattern relatively quickly, as that will increase the likelihood of other orgs finding this pattern.

[2022-05-24 08:36] spier opened #418 "Call-out on website to collect Known Instances"
How to motivate orgs to contribute their experiences with our patterns back to the community?

A small contribution would be to list themselves as a Known Instance on the pattern, possibly with a couple of sentences about how they have used the given pattern.

A great example of such a Known Instance description from the [30 Day Warranty](https://patterns.innersourcecommons.org/p/30-day-warranty)

[2022-05-25 02:52] NewMexicoKid commented on #406
We actually did a variant of this in the early days of InnerSource Patterns, with regular meetings of the group to discuss patterns, brainstorm new ones, and solve problems that were brought to the group. A number of people would join the call just to listen in; and I would publish the notes from the call afterwards for "lurkers" to learn from (and sometimes to comment on afterwards).

*Office hou

[2022-05-26 07:01] spier commented on #406
Thanks for those examples @NewMexicoKid.

Could you share your thoughts on when to merge and when to split a pattern?
Or in other words, when to create multiple patterns for given problem, and when to create a single pattern?

e.g. around this topic of "Learning by Lurking" all of the solutions seem to support async communication.
Therefore I am leaning towards creating a single pattern that conta

[2022-05-26 08:02] spier opened #419 "Help pattern authors with Context + Forces"
Pattern authors often struggle with filling in the Context + Forces sections of our pattern template.

Could we give them more guidance on how to fill in Context + Forces?

@NewMexicoKid you are dropping nuggets of wisdom about these sections in your reviews sometimes (as in the example below).  Could you help us extend the pattern template with further instructions, especially around these two se

[2022-05-26 20:07] NewMexicoKid commented on #419
I'll take a look at the pattern template to see if might be improved.
Another thought I had was to see if I can get Bob Hanmer (the real patterns expert) to do a live session to review a few of the newer patterns and give feedback on them. Do you think that some of the new pattern authors would be interested in that?

[2022-05-27 14:15] spier commented on #419
Thanks! I think that adding properties of good things to list in Context/Forces, as well as examples like the one above would be super helpful for authors.

Also a joined session with Bob Hanmer would be great. Probably something we could organize after summer, so maybe in August/September?

[2022-05-28 20:16] spier commented on #218
Found this spellcheck acton today. Might be worth trying to see if it gives us more configurable options.
https://github.com/bagder/uncurled/blob/main/spellcheck.yaml

[2022-05-28 21:33] NewMexicoKid commented on #406
There are pros and cons (of course) to pattern consolidation vs.individual patterns. Remember that patterns are supposed to represent proven solutions (I think Bob mentioned that there should be at least three instances of a pattern before it is really proven--this is in general, across pattern domains, not specific to InnerSource patterns). When you consolidate patterns, you may be taking parts o

[2022-06-14 08:56] MaineC opened #423 "Pattern idea: Move to cross-team shared ownership"
In the [Governance Levels](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/governance-levels.md) we have defined "shared ownership" as a governance level where members of different teams have write access to the InnerSource project.

In organisations that traditionally have been very team- as opposed to product-/InnerSource project focused, moving to this lev

[2022-07-25 09:07] spier opened #430 "Japanese Patterns Book - Ideas for further improvement"
As part fo #422 we identified some things that are not essential for the first release of the Japanese Patterns Book.
Still they could be considered to improve the book further.

These ideas are listed below, and after the first book release we can decide how to prioritize these.

## Future Work for the Japanese Patterns Book

- maintenance - The `lint-patterns.yml` GHA checks that all patterns co

[2022-07-30 10:21] spier opened #433 "Docs for Trusted Committers"
There are a couple of things about the way that we maintain this repo that we have not documented yet.
I think that most, if not all of them, are about how we host our patterns in [gitbook](https://www.gitbook.com/).

We should document all of them, so that all Trusted Committers (TC) can work independently on this repo.

Things that need further documentation:
- the gitbook setup (incl how to giv

[2022-07-30 10:23] spier commented on #433
@yuhattor and @robtuley, you were the last TCs that we added to this repo.
Where would you expect to find documentation for the things listed above?

Also we don't have any private documentation just for TCs.
I guess we would have to write up all of these things in such a way that we can keep them in this repo and that anybody can read them? i.e. no confidential info/passwords or similar.

[2022-08-08 13:09] yuhattor opened #434 "Improve the Japanese translation of InnerSource Patterns"
Japanese Translation of InnerSource Patterns is in the early phases. InnerSource Commons Japan has adopted textlint, including unifying Japanese notation and improving readability, and discussions are being held by volunteer members. When the Japanese translation has been completed to some extent, we will improve the Japanese of InnerSource Patterns by referring to the TRANSLATION-POLICY and textl

[2022-08-08 18:08] spier commented on #434
I am not 100% clear what improvements this issue is describing.

Trying to summarize what I understood from this issue:

* link from [InnerSourcePatterns/../translation/README.md](https://github.com/InnerSourceCommons/InnerSourcePatterns/tree/main/translation) to [japanese-contents/TRANSLATION-POLICY.md](https://github.com/InnerSourceCommons/japanese-contents/blob/main/TRANSLATION-POLICY.md)
* app

[2022-08-09 08:30] spier commented on #433
Onboarding a new TC to gitbook:

- admins that can invite new users are @lenucksi, @dicortazar and @spier
- invite new users by email address (they need to create a gitbook account)
- give them the role "Creator" (assuming that they want to create new books)
- if they publish their new gitbook from a repo within the `InnerSourceCommons` org (which is likely and also desireable): ask one of our Git

[2022-08-10 03:20] yuhattor commented on #434
We are currently working on standardizing the Japanese notation. And [textlint](https://github.com/textlint/textlint) is lint tool for natural languages. For instance, this tool is helpful when you don't want the words "center" and "center" mixed together in one document.

This issue was created as a task to improve the Japanese translation based on the rules created by the Japanese community, so

[2022-08-10 04:53] spier commented on #434
Sounds interesting. I would like to see textlint in action :)

If I don't get to try it out myself, maybe you could do a little demo at some point?

[2022-08-12 15:59] dellagustin-sap opened #437 "Pattern idea: (Project) Adopters pattern"
Suggested by @spier as a reaction to https://github.com/SAP/project-portal-for-innersource/pull/38 .
Issue has yet to be defined, but in summary, the idea of recording users/adopters of an InnerSource project should become a pattern.

## References

- Related threads on ISC Slack
    - Call to action to register adopters on the SAP/project-portal-for-innersource - https://innersourcecommons.slack.

[2022-08-12 16:00] dellagustin-sap commented on #437
I have the intention to contribute with this one.

[2022-08-12 16:16] spier commented on #437
_Pretty random thoughts below. Have to get back to this later._

Open source projects sometimes share a list of adopters/users of their project.
Likely as a way for them to do marketing.
The more well known the adopter is, the better for the project so that they can showcase that their project has been vetted.

So one could argue that this is a pattern in open source already.

Examples of this in

[2022-08-16 00:22] Ssukriti opened #439 "Pattern Idea : Using Extensions to manage Contributions at scale"
Might be related to https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/reluctance-to-accept-contributions.md

**Problem**
 As the number of new feature contributions to a mature inner-source repository rapidly increase, it adds more burden on code reviews and maintenance. How do we allow for faster release of new features, encouraging innovation and experimentat

[2022-08-16 00:27] Ssukriti commented on #439
I am unable to attach labels, but this is an initial idea that I will contribute if you all think is worthwhile to have as a pattern.
We have adopted this in our organization and have seen success at managing inner-source projects at scale

[2022-08-16 02:20] NewMexicoKid commented on #439
Sounds like an interesting idea worth documenting as a pattern.
The last three points in the context sound more like forces (highlighting
trade-offs).
I wonder if there is something more to the solution (e.g., architecturally,
are there ways to design the framework for extensions or plugins so that
there is sufficiently loose coupling and enough future-proofing to enable
the base software to grow

[2022-08-16 06:14] Ssukriti commented on #439
Thank you for the feedback @NewMexicoKid ! Yes you are right, I will move the last three points to forces as tradeoffs while drafting the pull request.

Some thoughts on the architecture:

1. To test that the base software doesn't break extensions:
Extension templates will require the base software to be installed a dependency and they will build on top of that. Since the extension will be in a se

[2022-08-16 07:11] spier commented on #439
@Ssukriti thank you for sharing this approach with us!

I especially like that it addresses challenges related to "software architecture for InnerSource".
For those we don't have many patterns yet.

For inspiration you could look at these patterns.
They address quite the same thing as your Extensions idea though.

* https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/338
* https://githu

[2022-08-16 16:48] NewMexicoKid commented on #439
I think that these answers you've provided for my questions about
architecture and maintenance are great points to raise in the solution; and
it seems like they address some additional forces/trade-offs that could be
listed.
It would probably be good to also note what the Resulting Context is after
the Solution is applied. Sometimes the application of the Solution
introduces new forces and problem

[2022-08-19 16:40] yuhattor commented on #434
For the record, I will do work on the [jp-translation-improvement](https://github.com/InnerSourceCommons/InnerSourcePatterns/tree/jp-translation-improvement) branch. The branch name like book-jp-improvement might be suitable for management, but it looks that `.github/workflows/book.yml` triggers the GH Actions and update .gitbook.yaml because the branch name starts with "book-jp" 👍

[2022-08-23 10:58] spier commented on #434
I think that the GHA only sets the language to JP during the build  if the branch name is exactly "book-jp". So we should change that to also work for branches starting with "book-jp".

Feel free to try that out.

I currently have some issues with my laptop so can only contribute from Mobile ;)

[2022-08-24 17:18] spier opened #442 "Pattern idea: Great first impressions"
In InnerSource much like in open source, the **very first interaction** between a contributor and the maintainer of a project sets the tone for the rest of the interaction.

That first impression can

1. turn a first-time contributor into a raving fan of the project, leading to more future contributions
2. or scare of that user, maybe even prevent a first-time contribution that otherwise would hav

[2022-08-29 05:15] Ssukriti commented on #439
I have opened a pull request with the submission as an initial idea https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/444

Thanks

[2022-09-03 05:51] yuhattor commented on #434
We fixed the most important TC part. This is an ongoing work, but I will close it once we have completed the major corrections.

[2022-09-03 05:51] #434 closed, assigned to nobody

[2022-09-04 07:51] spier opened #448 "Process for porting pattern improvements into Japanese book"
Our fantastic Japanese InnerSource community has translated all current Level 2+ patterns to Japanese. 🇯🇵 🥳

Now what if the original English patterns are improved further?

Common changes are:

* (small) adding Known Instances to a pattern ([examples](https://github.com/InnerSourceCommons/InnerSourcePatterns/pulls?q=is%3Apr+label%3A%22Known+Instances%22+))
* (small)  grammar/typo corrections
* (l

[2022-09-04 07:52] spier commented on #448
@yuhattor would be great to get your thoughts on how to go about this.
Also if you have somebody in the JP community that knows git and GitHub actions really well, that would really benefit us as well.

[2022-09-05 07:50] spier commented on #439
@Ssukriti as promised the pattern is now merged and available here:
https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/patterns/1-initial/extensions-to-manage-contributions-at-scale.md

I am closing this issue here as well.

Let's open new issues and PRs as we see fit to improve this pattern further in the future.

And thanks again for sharing your great pattern!

[2022-09-05 07:50] #439 closed, assigned to nobody

[2022-09-06 18:22] spier opened #450 "Pattern idea: InnerSource Site / InnerSource Handbook"
Summarizing from a slack conversation:

Summary/Essence of the pattern:

Have a thing that points to all your InnerSource things :)

Brainstorming names and alises for this pattern:

* InnerSource Site
* InnerSource Handbook
* InnerSource Landing page
* Source of Truth

Open online examples of implementations of this pattern

* https://innersource.flutter.com
* https://devguide.trimble.com/innerso

[2022-09-06 18:28] spier commented on #450
@robtuley we need your help on this one :)

[2022-09-07 09:43] yuhattor commented on #448
@spier

Thank you for summarizing the idea of continuous improvement of the book translation. Well, actually, we do not yet have many community members for InnerSource patterns. I think we need more Japanese contributors for the pattern book.

If each change could be divided into small issues, it would be easier for Japanese members to start making contributions. I think this is an opportunity to

[2022-09-08 20:42] spier commented on #448
@yuhattor this sounds nice.

I understand where you are going with that GHA.
FYI I made a minor fix in the GHA pseudo code above.

That way we would automatically create an issue backlog of to-be-translated content.
If that backlog grows too large, then we know that we have to invest more time in looking for contributors.

[2022-09-09 07:51] robtuley commented on #450
Hiya!

Yes this is what we're trying to do with the Flutter inner source site but there are a few odd driving forces there and I feel like due to org setup we've almost done it the wrong way round. i.e. a group level innersource team exists here at Flutter, but no 'developer experience'/developer platform type team. So our innersource team kind of end up doing both.

This makes me wonder...

* Is

[2022-09-09 11:05] yuhattor commented on #448
That's great! Thank you:) I may need a little verification at my end.I'm thinking of translating innersourcecommons.org in the community right now. Maybe the implementation here can be applied to that as well. But I think innersourcecommons.org has a lot of commits, so we need to make sure it doesn't become noise.

[2022-09-09 13:27] dellagustin-sap commented on #450
This is a general comment, not only about this pattern, could fork into a discussion of its own:

I've given some thought already on how to leverage things that are not only InnerSource, but are InnerSource catalysts or preconditions to good InnerSource. A lot of things about InnerSource ar not purely InnerSource (as we borrow a lot of best practices from Open Source and engineering as a whole), b

[2022-09-09 16:38] NewMexicoKid commented on #450
From an InnerSource community perspective (and also from a patterns
community perspective), my view is that whatever helps the InnerSource
practitioner succeed should be represented, either by commenting/amending
existing patterns or by adapting patterns from other communities as
separate InnerSource patterns.

Whether something is documented as a comment (e.g., in the Resulting
Context section) o

[2022-09-09 21:04] spier commented on #450
@dellagustin-sap thanks for sharing this angle. I had similar thoughts a couple of times, and cannot say that I have found a 100% satisfying answer for myself.

It has helped me to compare InnerSource to Agile/Lean.

People hearing about either of these for the first time might say "oh look, I just have to follow these prescribed steps and everything will be better". Unfortunately that doesn't wor

[2022-09-10 05:40] spier commented on #448
Yeah, I also think that innersourcecommons.org will require a different approach.

Let's solve one challenge at a time ;)

[2022-09-12 16:07] Trueblueaddie opened #451 "Add Metrics for Employee Satisfaction and Retention"
https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/abd1635a828b694cc51e615c004356203ddce3be/patterns/1-initial/introducing-metrics-in-innersource.md?plain=1#L65

| Employee satisfaction & talent retention | eNPS score <br> attrition rate |

[2022-09-12 20:33] spier commented on #451
Thanks for adding this suggestion @Trueblueaddie. Much appreciated.

Are you comfortable with making this change directly via a Pull Request?
e.g. by [editing the file](https://github.com/InnerSourceCommons/InnerSourcePatterns/edit/main/patterns/1-initial/introducing-metrics-in-innersource.md) as desired, and then committing your change and opening a new pull request with that change.

Then we can

[2022-09-22 13:44] spier commented on #451
Implemented in #455. Thank you!

[2022-09-22 13:44] #451 closed, assigned to nobody

[2022-09-24 18:03] spier opened #458 "InnerSource @ Intuit"
Shagun Bose from Intuit gave a talk about "What's the deal with InnerSource" at the [GHC 2022](https://ghc.anitab.org/).
Summary in this [twitter thread](https://twitter.com/antheajung/status/1573352724682481664).

Some ideas for possible pattern connections:

[tweet 1](https://twitter.com/antheajung/status/1573361235936120833) sounds like a new pattern:

[tweet 2](https://twitter.com/antheajung/s

[2022-09-24 18:27] spier commented on #458
Just as I wanted to also post a connection of tweet 2 to https://github.com/intuit/innersource-scanner, I realized that in #393 we already captured that idea :)

[2022-09-26 20:34] spier commented on #419
hi @NewMexicoKid. Just wanted to see if you were able to spend some time on this topic?

[2022-09-27 10:11] spier opened #461 "InnerSource @ SoundCloud | RFC process"
SoundCloud mentions their RFC process in here:
This [article from 2022](https://developers.soundcloud.com/blog/soundcloud-echo-next-level-backstage) mentions the RFC approach, and points back to a [description of the approach](https://philcalcado.com/2018/11/19/a_structured_rfc_process.html) from 2018.

It should be possible to add this as Known Instance to our existing pattern, as SoundCloud are

[2022-09-27 10:12] spier commented on #461
@pcalcado as you are the author of one of the docs above, would you be able to help us find somebody at SoundCloud that can tell us more about their RFC approach? Hope you don't mind the direct approach :)

[2022-09-27 19:48] spier opened #462 "Improve visuals for Standard Base Documentation"
We want to promote the [Standard Base Documentation](https://patterns.innersourcecommons.org/p/base-documentation) pattern in our upcoming [ISC October newsletter](https://github.com/InnerSourceCommons/InnerSourceMarketing/issues/181).

In preparation for that I am trying to improve the visuals used in the pattern.

For now I have just created a remake of the existing visuals, using standard ISC c

[2022-09-27 19:52] spier commented on #462
@MaineC anything you wish you could improve about the existing visual for this pattern?

Also, what do you think about the proposal above?
I was thinking that I might split this up into two separate images i.e. one "for users" and one "for contributors. That way we can include the corresponding image next to the explanation of `README.md` and `CONTRIBUTING.md` in the pattern.

[2022-09-28 05:04] MaineC commented on #462
The proposal looks great. And about splitting: makes a lot of sense.

[2022-09-30 07:47] spier commented on #433
Onboarding for Google Analytics:

* admins that can invite new users are: @spier
* invite new users by email address (needs a gmail account?)
* under "View Access Management" assign the role "Editor" to the new user

TODO:
* make all TCs admins, so that they can add new users etc?

[2022-09-30 21:08] spier commented on #462
@MaineC the new visuals are live now. Hope you like it :)
https://patterns.innersourcecommons.org/p/base-documentation

[2022-10-02 16:56] spier commented on #461
The [description of the approach](https://philcalcado.com/2018/11/19/a_structured_rfc_process.html) from 2018 actually mentions further orgs that use (or at least have used) an approach like this at some point it time:

[2022-10-02 18:18] spier commented on #461
Btw @tsadler1988 if you haven't seen the docs above yet, I am sure you will absolutely love them.

The [description of the approach](https://philcalcado.com/2018/11/19/a_structured_rfc_process.html) goes into a lot of detail and provides anecdotal evidence for why their RFC process is structured the way it is.

[2022-10-02 18:56] spier commented on #461
@GavinMBell I found this quote in an older article by @pcalcado:

Would you like to add anything more about how the RFCs were applied at SoundCloud?

Why, you may ask. Good question! :)
We are looking to improve our InnerSource pattern called [Transparent Cross-Team Decision Making using RFCs](https://patterns.innersourcecommons.org/p/transparent-cross-team-decision-making-using-rfcs). And the Sou

[2022-10-08 11:24] spier opened #464 "Review and improve our documentation for first-time contributors"
We want to make it even easier for first-time contributors to improve our patterns collection in this repo.

Therefore it would be fantastic if you could review either of the documentation below that we have created for first-time contributors. If you find anything confusing, missing, or plain wrong, please send a PR with ideas for improvements.

## Resources to review

- main [README.md](https://

[2022-10-08 11:25] #462 closed, assigned to nobody

[2022-10-08 11:34] spier opened #465 "Searching for InnerSource Patterns in the Wild"
When multiple orgs confirm that they are using a pattern, it increases the maturity and relevance of the pattern.
Therefore we list the orgs that have adopted the pattern as "Known Instances" on the pattern itself.

It also happens that multiple orgs re-discover a given pattern, without even considering it a pattern.
Those orgs often won't know about the InnerSource Patterns collected in this repo

[2022-10-08 18:44] Mercysticks commented on #464
assign it to me please.

[2022-10-08 20:25] spier commented on #464
@Mercysticks happy to!

Please note that these docs would benefit from review by multiple people, so I will accept PRs/reviews/improvements from more than one person.

[2022-10-08 21:30] Mercysticks commented on #464
Okay

[2022-10-08 21:37] spier commented on #285
There are some interesting aspects mentioned in this ISC Community Call:

[InnerSource to Open Source](https://www.youtube.com/watch?v=1bNp2e7oH3E) - taking the next step

[2022-10-08 21:43] spier commented on #285
@mishari would it be possible to get the slides from your ISC community call "[InnerSource to Open Source](https://www.youtube.com/watch?v=1bNp2e7oH3E)". I might try to incorporate some of the text or visuals into this pattern idea here.

[2022-10-09 11:32] mcobby commented on #285
Hi @spier - PDF of the slides is in Slack https://innersourcecommons.slack.com/archives/C04PXKRN4/p1665315070585709?thread_ts=1663659054.262749&cid=C04PXKRN4.
Are you also wanting an editable version?

[2022-10-10 09:55] #375 closed, assigned to nobody

[2022-10-11 09:00] subashpaul commented on #464
Created README for Hacktoberfest PR #467

[2022-10-11 11:33] Mercysticks commented on #464
Made a few changes and created a PR @spier

[2022-10-11 12:50] spier opened #469 "Fix description of office hours"
I noticed that the description of our office hours is wrong.
https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/main/CONTRIBUTING.md#how-to-get-in-touch

We are not actually doing these any more, at least not in the European timezone.
So I would opt for just removing the description of the office hours.

[2022-10-11 12:51] spier commented on #469
@mishari what's your take on this? Do you still do the office hours in your timezone?

[2022-10-11 13:36] mishari commented on #469
I've not for a while now. I could start if there's interest, but after several months there doesn't seem to be?

[2022-10-11 15:07] spier commented on #469
I see. I think I will remove the mention of the office hour from the docs then. We can always restart them in the future if we like.

[2022-10-11 19:23] #469 closed, assigned to nobody

[2022-10-12 09:02] spier commented on #285
Thanks @mcobby.
As the messages in Slack will disappear after some time, would you be fine to attach the PDF to this issue here as well?

I don't think I need an editable version for now.

[2022-10-26 19:39] NewMexicoKid commented on #419
Sorry for the delays--lots of real life interruptions, alas. I'll look into this.

[2022-11-03 15:46] spier opened #479 "Make pattern links in mindmap clickable"
We have this beautiful mindmap here:
https://patterns.innersourcecommons.org/explore-patterns

It is generated based on the data and code in here:
https://github.com/InnerSourceCommons/InnerSourcePatterns/tree/main/pattern-categorization

The current mindmap is simply an image.
One drawback of that approach is that we could not get the links to the patterns to be clickable.

Now in a new release o

[2022-11-03 15:48] spier commented on #479
GitHub can also render mermaid, so I can show a quick first experiment here directly.

I have re-created only a part of our mindmap using mermaid.
Now I need to figure out if (and how) a node can be made clickable.

Any mermaid pros here that can help with that?

[code]

[2022-11-03 18:18] spier commented on #464
As hacktoberfest is over, let's consider this done.

[2022-11-03 18:18] #464 closed, assigned to Mercysticks

[2022-11-05 10:36] spier commented on #479
Testing something clickable within the GitHub UI.
Doesn't work it seems.

[code]

[2022-11-05 10:36] spier commented on #479
mermaid has an experimental chart type of `mindmap`.
https://mermaid-js.github.io/mermaid/#/mindmap?id=mindmap

Given the maturity maybe not something to use yet?

[2022-11-06 10:55] spier commented on #479
The first diagram [in here](https://kubernetes.io/docs/contribute/style/diagram-guide/) contains clickable nodes in the graph. So it is possible, just not sure if it is possible in the gitbook integration of mermaid.

[2022-11-06 11:38] spier commented on #479
Here an example of the Mermaid Live Editor, showing how it could work:|
[Clickable chart](https://mermaid-js.github.io/mermaid-live-editor/edit/#pako:eNptkMFqwzAQRH9F7CkBp85Zh0Joeii0UBJ6E4SNtImFrZWRVpTW-N-rJqTk0Nvs8JhZZgIbHYGG0xA_bYdJ1OvOsOH14oWZ0j6WZEm9owglzku1Wj2qzcKAHbztVSADS8PXY6MMdCJj1m179tKV44ONob3LeYohRM731i3ZgDocB-QeGgiUAnpXv5oMq5oqHf026Sodpt6A4blyZXQo9Oy8xAT6hEOmBrBI3H-xBS2p0A3aejwnDH_UiA

[2022-11-06 12:07] spier commented on #479
I have sent a support request to gitbook, as I cannot get this to work.

[2022-11-10 20:14] lenucksi commented on #433
Sounds like this could end up in a nice Markdown file once everything is collected.
As a follow-up: Did Google not change to another Analytics platform that killed all the old setups? Are there other more GDPR friendly things than Google Analytics? (Plausible Analytics etc.)

[2022-11-10 21:10] spier commented on #433
Yes, that's the plan 👍

True. We do have some time though.

The info I have is this: "On July 1, 2023, Universal Analytics will stop processing new hits."
So yes, at some point we need to move to something else, or stop tracking usage entirely.

I have no experience with anything else but if you do, maybe you could try it out?

Below the overview of alternative **Analytics Integrations** that gitb

[2022-11-15 18:23] spier commented on #392
Another reference to something like a manifest file is in here. They call it the Codebase Governor (or CBG) for short:
https://innersource.flutter.com/docs/cbg/

@robtuley was the CBG something you built from scratch, or is it the extension of something that already existed?

[2022-11-15 22:52] robtuley commented on #392
It was actually originally introduced for us by GitHub professional services to help us do inner source and then we've evolved it forward from there. GitHub actually released their internal tool open source recently to that is similar(ish) so maybe it was partially copied from that -- [Entitlements](https://github.blog/2022-06-09-introducing-entitlements-githubs-open-source-identity-and-access-man

[2022-11-16 11:22] spier commented on #392
The whole manifest solution sounds more and more like a pattern in its own right to me.

While it might be related to other patterns like the InnerSource Portal, the solution has various properties that go way beyond this, like the "default repo settings for safe InnerSource contributions" and "reporting" use cases that you are describing.

A challenge will be to slice this up properly, to determi

[2022-11-23 14:54] spier opened #487 ":construction: Get "Extensions to Manage Contributions at Scale" published in our book"
_WIP: I am drafting this issue to describe the work required to level up a given pattern from Initial (Level 1) to Structured (Level 2). I am using the "Extensions to Manage Contributions at Scale" pattern as an example for this. I am hoping that later we can extract generalizable points into a GitHub issue template, that we can use whenever we want to do such "leveling up" for other patterns._

#

[2022-11-23 18:52] spier commented on #487
@Ssukriti we would love to get your pattern published in our online book. For that you find a couple of suggestions above of how the pattern could be improved.

_Aside:_ We are planning to do this same exercise with some other pattern contributors shortly. Therefore any feedback you can give us about this process could help to make this simpler/faster for other contributors. Thank you!

[2022-11-23 19:48] spier opened #488 "[04/2023] Reference ongoing work of the FINOS InnerSource Licensing Working group"
@chamindra gave a presentation at the ISC Summit 2022 about the work of the FINOS InnerSource SIG, specifically the **FINOS InnerSource Licensing Working group**.

They want to create a license generator, that orgs can use to generate their own InnerSource licenses.
Please review key points of the talk related to InnerSource at:
https://www.youtube.com/watch?v=pDG_CqvTWrE&t=453s

This [work is ong

[2022-11-23 19:50] spier commented on #488
@chaimandra I saw the timeline that you presented in your talk. Would it make sense to check back with the FINOS InnerSource Licensing Working group in April/May 2023 to see how far you have come with this work?

[2022-11-24 21:55] #337 closed, assigned to nobody

[2022-11-25 06:56] Ssukriti commented on #487
thank you for creating these guidelines, yes we will work on maturing the pattern in next few days. Do you have a timeline in mind @spier  by when it needs to make it in for next publication of the online book?